@use "../../common/mixins.scss" as *;

// ===== HEADER =====

header {
    display: block;
    @include setBackgroundImage("../img/articleHeaderBg.png", "cover");
    margin: 0;
    padding-bottom: 135px;
    .subheader {
        max-width: 965px;
        margin: 0 auto;
        margin-top: 120px;
        h1 {
            font-size: 85px;
            font-weight: 700;
            margin-bottom: 25px;
        }
        .postInfo {
            display: flex;
            align-items: center;
            .userPhoto {
                width: 105px;
                height: 105px;
                border-radius: 100%;
                margin-right: 5px;
            }
            .additionalInfo {
                font-family: "Lato", sans-serif;
                font-size: 17px;
                color: #fff;
            }
            .circle {
                font-size: 14px;
                margin: 0 15px;
            }
        }
    }
}

// ===== ARTICLE MAIN TEXT =====
.artcileMainText {
    padding: 100px 0;
    .artcileMainText-content {
        display: grid;
        grid-template-columns: 1fr 275px;
        gap: 0px 45px;
        .pageLink {
            margin-bottom: 65px;
            p {
                font-size: 20px;
                font-family: "Lato", sans-serif;
                .unactiveLink {
                    font-family: "Lato", sans-serif;
                    color: #b0b0b0;
                }
                .activeLink {
                    font-family: "Lato", sans-serif;
                    color: #4d4d4d;
                }
            }
        }
        .articleText {
            color: #4d4d4d;
            font-family: "Lato", sans-serif;
            font-size: 20px;
            margin-bottom: 75px;
            line-height: 32.6px;
            &:last-child {
                margin-bottom: 150px;
            }
        }
        .articleInfo {
            .dishIdeas {
                display: grid;
                align-items: stretch;
                max-height: 660px;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 330px 330px;
                gap: 50px 45px;
                margin-bottom: 100px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .bigElem {
                    grid-column: 1 / 2;
                    grid-row: 1 / 3;
                }
            }
            .underDish {
                max-width: 800px;
                margin-bottom: 150px;
            }
            .authorWords {
                display: block;
                position: relative;
                max-width: 835px;
                margin: 0 auto;
                font-family: "Lato", sans-serif;
                font-size: 30px;
                font-weight: 700;
                color: #5e6600;
                margin-bottom: 150px;
                &::after {
                    content: "";
                    position: absolute;
                    right: 0px;
                    top: -32px;
                    z-index: -1;
                    display: block;
                    width: 195px;
                    height: 195px;
                    @include setBackgroundImage("../img/quote.png");
                }
            }
            .tags {
                display: flex;

                align-items: center;
                margin-bottom: 100px;
                p {
                    font-size: 25px;
                    font-weight: 700;
                }
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: 15px;
                    gap: 0 20px;
                    li {
                        padding: 5px 13px;
                        border: 2px solid black;
                        font-size: 16px;
                        font-family: "Lato", sans-serif;
                    }
                }
            }
            .authorInfo {
                display: flex;
                align-items: center;
                overflow-x: hidden;
                .userPhoto {
                    width: 200px;
                    height: 200px;
                    border-radius: 100%;
                    margin-right: 50px;
                }
                .userName {
                    font-weight: 700;
                    font-size: 32px;
                    margin-bottom: 25px;
                }
                .description {
                    font-family: "Lato", sans-serif;
                    color: #4d4d4d;
                    font-size: 21px;
                }
            }
        }
        aside {
            .search {
                width: 100%;
                margin-bottom: 150px;
                font-family: "Lato", sans-serif;
                padding-bottom: 4px;
                font-size: 18px;
                border: none;
                outline: none;
                border-bottom: 2px solid black;
                &::placeholder {
                    font-size: 18px;
                    font-family: "Lato", sans-serif;
                    color: black;
                }
            }
            .subtopic {
                margin-bottom: 150px;
                &:last-child {
                    margin-bottom: 0;
                }
                h3 {
                    font-size: 24px;
                    padding-bottom: 6px;
                    font-weight: 700;
                }
                .subtopicLine {
                    height: 3px;
                    width: 100%;
                    border-bottom: 3px dashed black;
                    margin-bottom: 20px;
                }
            }
            .categories,
            .archives {
                ul {
                    li {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 25px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        p {
                            font-family: "Lato", sans-serif;
                            font-size: 18px;
                        }
                    }
                }
            }
            .comments {
                .comment {
                    display: flex;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    p,
                    span {
                        font-family: "Lato", sans-serif;
                        font-size: 16px;
                    }
                    .userName {
                        color: #b0b0b0;
                    }
                }
            }
            .recentPosted {
                .article {
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .articleImg {
                        width: 70px;
                        height: 70px;
                        margin-right: 15px;
                    }
                    .articleTitle {
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                    .articleInfo {
                        display: flex;
                        align-items: center;
                        &,
                        span {
                            color: #b0b0b0;
                            font-family: "Lato", sans-serif;
                            font-size: 13px;
                        }
                        .circle {
                            font-size: 8px;
                            margin: 0 5px;
                        }
                    }
                }
            }
            .tags {
                p {
                    font-size: 25px;
                    font-weight: 700;
                }
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px 10px;
                    li {
                        padding: 8px 9px;
                        border: 2px solid black;
                        font-size: 16px;
                        font-family: "Lato", sans-serif;
                    }
                }
            }
        }
    }
}

// ===== SWITCH ARTICLE =====

.switchArticle {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    .previousArticle,
    .nextArticle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: calc(50% - 2px);
        height: 280px;
        color: white;
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background-color: #00000066;
        }
        .switcherInfo {
            position: absolute;
            .switcher {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 18px;

                svg {
                    width: 30px;
                    height: 30px;
                }
                a {
                    position: relative;
                    text-transform: uppercase;
                    font-family: "Lato", sans-serif;
                }
            }
            .articleTitle {
                font-size: 25px;
                max-width: 485px;
                text-align: center;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 35%;
        }
    }
    .previousArticle {
        .switcher {
            svg {
                margin-right: 10px;
            }
        }
    }
    .nextArticle {
        .switcher {
            svg {
                transform: rotate(180deg);
                margin-left: 10px;
            }
        }
    }
}

// ===== COMMENTS =====

.specialWrapper {
    max-width: 1055px;
    margin: 0 auto;
}
.commentsWrapper {
    padding-top: 110px;
    padding-bottom: 100px;
    border-bottom: 3px dashed black;
    h2 {
        font-size: 34px;
        text-align: center;
        margin-bottom: 75px;
    }
    .mainComments {
        .mainComment {
            margin-bottom: 45px;
            &:last-child {
                margin-bottom: 0;
            }
            .userInfo {
                display: flex;
                h3,
                p,
                a {
                    font-family: "Lato", sans-serif;
                }
                img {
                    width: 75px;
                    height: 75px;
                    margin-right: 15px;
                }
                .mainInfo {
                    display: block;
                    width: 100%;
                    margin-top: 5px;
                }
                .userNameWr {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    a {
                        color: black;
                        font-weight: 700;
                    }
                }
                .postDate {
                    color: #b0b0b0;
                }
                .commentText {
                    font-size: 20px;
                    color: #4d4d4d;
                    margin-top: 20px;
                }
            }
        }
        .replyedComment {
            margin-left: 90px;
        }
    }
}

.leaveReply {
    padding-top: 110px;
    padding-bottom: 175px;
    h2 {
        font-size: 34px;
        text-align: center;
        margin-bottom: 95px;
    }
    .leaveReplyForm {
        margin-bottom: 35px;
        &:nth-child(4) {
            margin-bottom: 80px;
        }
        h3 {
            font-family: "Lato", sans-serif;
            margin-bottom: 15px;
        }
        textarea,
        input {
            border: 3px solid black;
            outline: none;
            color: black;
            font-family: "Lato", sans-serif;
            font-size: 22px;
            padding-left: 10px;
        }
        input {
            width: 100%;
            height: 65px;
        }
    }
    .commentText {
        textarea {
            width: 100%;
            min-height: 300px;
            padding-top: 10px;
        }
    }
    .leaveComment {
        font-weight: 700;
        font-size: 22px;
        background-color: transparent;
        border: 3px solid black;
        padding: 15px 35px;
        cursor: pointer;
    }
}

@media (max-width: 1200px) {
    header {
        padding-bottom: 100px;
        .subheader {
            h1 {
                font-size: 85px;
                font-weight: 700;
                margin-bottom: 25px;
            }
            .postInfo {
                display: flex;
                align-items: center;
                margin-bottom: 35px;
                .userPhoto {
                    width: 105px;
                    height: 105px;
                    border-radius: 100%;
                    margin-right: 5px;
                }
                .additionalInfo {
                    font-family: "Lato", sans-serif;
                    font-size: 17px;
                    color: #fff;
                }
                .circle {
                    font-size: 14px;
                    margin: 0 15px;
                }
            }
        }
    }
}
@media (max-width: 985px) {
    // ===== HEADER =====

    header {
        padding-bottom: 100px;
        .subheader {
            max-width: 735px;
            h1 {
                font-size: 72px;
            }
        }
    }

    // ===== ARTICLE MAIN TEXT =====
    .artcileMainText {
        padding: 100px 0;
        .artcileMainText-content {
            display: grid;
            grid-template-columns: 1fr;
            gap: 0px 45px;

            .articleInfo {
                .dishIdeas {
                    img {
                        object-fit: cover;
                    }
                }
            }
            aside {
                display: none;
                .tags {
                    ul {
                        display: flex;
                        gap: 10px 10px;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    // ===== HEADER =====

    header {
        padding-bottom: 130px;
        .subheader {
            max-width: 560px;
            h1 {
                font-size: 67px;
                text-align: center;
            }
            .postInfo {
                .additionalInfo {
                    font-size: 16px;
                }
                .circle {
                    margin: 0 5px;
                }
            }
        }
    }

    // ===== SWITCH ARTICLE =====

    .switchArticle {
        .previousArticle,
        .nextArticle {
            height: 250px;
            color: white;
            .switcherInfo {
                .articleTitle {
                    font-size: 22px;
                }
            }
        }
    }

    // ===== COMMENTS =====

    .specialWrapper {
        max-width: 555px;
    }

    .leaveReply {
        padding-top: 110px;
        padding-bottom: 155px;
    }
}
@media (max-width: 605px) {
    // ===== HEADER =====

    header {
        padding-bottom: 130px;
        .subheader {
            max-width: 560px;
            h1 {
                font-size: 67px;
                text-align: center;
            }
            .postInfo {
                .additionalInfo {
                    font-size: 16px;
                }
                .circle {
                    margin: 0 5px;
                }
            }
        }
    }

    // ===== SWITCH ARTICLE =====

    .artcileMainText {
        padding: 100px 0;
        .artcileMainText-content {
            .articleInfo {
                .dishIdeas {
                    grid-template-columns: repeat(2, minmax(100px, 1fr));
                    grid-template-rows: 290px 290px;
                    gap: 35px;
                    margin-bottom: 85px;

                    .bigElem {
                        grid-column: 1 / 3;
                        grid-row: 2 / 3;
                    }
                }

                .tags {
                    align-items: normal;
                }
            }
        }
    }

    // ===== COMMENTS =====

    .specialWrapper {
        max-width: 555px;
    }

    .leaveReply {
        padding-top: 110px;
        padding-bottom: 155px;
    }
}
@media (max-width: 480px) {
    // ===== HEADER =====

    header {
        padding-bottom: 85px;
        .subheader {
            h1 {
                font-size: 50px;

                margin-bottom: 25px;
            }
            .postInfo {
                .userPhoto {
                    width: 85px;
                    height: 85px;
                    margin-right: 5px;
                }
                .additionalInfo {
                    font-size: 15px;
                    line-height: 22px;
                }
                .circle {
                    font-size: 14px;
                    margin: 0 6px;
                }
            }
        }
    }

    // ===== ARTICLE MAIN TEXT =====
    .artcileMainText {
        padding: 100px 0;
        .artcileMainText-content {
            .pageLink {
                margin-bottom: 65px;
                p {
                    font-size: 18px;
                }
            }
            .articleText {
                color: #4d4d4d;
                font-family: "Lato", sans-serif;
                font-size: 18px;
                margin-bottom: 75px;
                line-height: 30.6px;
                &:last-child {
                    margin-bottom: 150px;
                }
            }
            .articleInfo {
                .dishIdeas {
                    margin-bottom: 65px;
                }
                .underDish {
                    margin-bottom: 100px;
                }
                .authorWords {
                    font-size: 23px;
                    margin-bottom: 100px;
                    &::after {
                        right: 0px;
                        top: -25px;

                        width: 145px;
                        height: 145px;
                    }
                }
                .tags {
                    margin-bottom: 75px;
                    p {
                        font-size: 25px;
                        font-weight: 700;
                    }
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        margin-left: 15px;
                        gap: 10px 15px;
                        li {
                            padding: 5px 13px;
                            border: 2px solid black;
                            font-size: 16px;
                            font-family: "Lato", sans-serif;
                        }
                    }
                }
                .userInfo {
                    .userPhoto {
                        width: 140px;
                        height: 140px;
                        margin-right: 25px;
                    }
                    .userName {
                        font-size: 25px;
                        margin-bottom: 12px;
                    }
                    .description {
                        font-family: "Lato", sans-serif;
                        color: #4d4d4d;
                        font-size: 17px;
                    }
                }
            }
        }
    }

    // ===== SWITCH ARTICLE =====

    .switchArticle {
        flex-direction: column;
        justify-content: normal;
        gap: 4px 0;
        .previousArticle,
        .nextArticle {
            width: 100%;
            height: 250px;

            .switcherInfo {
                padding: 0 15px;
            }
        }
    }

    // ===== COMMENTS =====

    .specialWrapper {
        max-width: 425px;
    }
    .commentsWrapper {
        padding-bottom: 85px;
        h2 {
            font-size: 34px;
            text-align: center;
            margin-bottom: 75px;
        }
        .mainComments {
            .mainComment {
                margin-bottom: 45px;
                &:last-child {
                    margin-bottom: 0;
                }
                .userInfo {
                    img {
                        width: 69px;
                        height: 69px;
                    }
                    .userNameWr {
                        margin-bottom: 5px;
                        h3 {
                            font-size: 17px;
                        }
                        a {
                            font-size: 16px;
                        }
                    }
                    .postDate {
                        font-size: 15px;
                    }
                    .commentText {
                        font-size: 17px;
                        margin-top: 15px;
                    }
                }
            }
            .replyedComment {
                margin-left: 40px;
            }
        }
    }

    .leaveReply {
        padding-top: 100px;
        padding-bottom: 175px;
        h2 {
            font-size: 34px;
            text-align: center;
            margin-bottom: 85px;
        }
        .leaveReplyForm {
            margin-bottom: 35px;
            &:nth-child(4) {
                margin-bottom: 70px;
            }
            h3 {
                font-size: 18px;
            }
            textarea,
            input {
                border: 3px solid black;
                outline: none;
                color: black;
                font-family: "Lato", sans-serif;
                font-size: 20px;
                padding-left: 10px;
            }
            input {
                width: 100%;
                height: 55px;
            }
        }
        .commentText {
            textarea {
                width: 100%;
                min-height: 200px;
                padding-top: 10px;
            }
        }
        .leaveComment {
            font-weight: 700;
            font-size: 22px;
            background-color: transparent;
            border: 3px solid black;
            padding: 15px 35px;
            cursor: pointer;
        }
    }
}
@media (max-width: 442px) {
    // ===== ARTICLE MAIN TEXT =====
    .artcileMainText {
        padding: 100px 0;
        .artcileMainText-content {
            .articleInfo {
                .authorWords {
                    &::after {
                        width: 130px;
                        height: 130px;
                    }
                }

                .userInfo {
                    flex-direction: column;
                    .userPhoto {
                        width: 155px;
                        height: 155px;
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                    .userName {
                        font-size: 28px;
                        margin-bottom: 18px;
                        text-align: center;
                    }
                    .description {
                        text-align: center;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .specialWrapper {
        max-width: 375px;
    }
}
@media (max-width: 320px) {
    // ===== HEADER =====

    header {
        padding-bottom: 85px;
        .subheader {
            h1 {
                font-size: 50px;

                margin-bottom: 25px;
            }
            .postInfo {
                .userPhoto {
                    width: 85px;
                    height: 85px;
                    margin-right: 5px;
                }
                .additionalInfo {
                    font-size: 15px;
                    line-height: 22px;
                }
                .circle {
                    font-size: 14px;
                    margin: 0 6px;
                }
            }
        }
    }

    // ===== ARTICLE MAIN TEXT =====
    .artcileMainText {
        padding: 85px 0;
        .artcileMainText-content {
            .pageLink {
                margin-bottom: 45px;
            }
            .articleInfo {
                .dishIdeas {
                    grid-template-rows: 250px 250px;
                    gap: 15px 15px;
                    margin-bottom: 65px;
                }

                .underDish {
                    margin-bottom: 75px;
                }
                .authorWords {
                    margin-bottom: 75px;
                }
                .tags {
                    margin-bottom: 65px;
                }
            }
        }
    }

    // ===== COMMENTS =====

    .specialWrapper {
        max-width: 287px;
    }
    .commentsWrapper {
        .mainComments {
            .mainComment {
                .userInfo {
                    .userNameWr {
                        a {
                            font-size: 14px;
                        }
                    }
                    .postDate {
                        font-size: 14px;
                    }
                }
            }
            .replyedComment {
                margin-left: 40px;
            }
        }
    }

    .leaveReply {
        padding-top: 100px;
        padding-bottom: 175px;
        h2 {
            font-size: 34px;
            text-align: center;
            margin-bottom: 85px;
        }
        .leaveReplyForm {
            margin-bottom: 35px;
            &:nth-child(4) {
                margin-bottom: 70px;
            }
            h3 {
                font-size: 18px;
            }
            textarea,
            input {
                border: 3px solid black;
                outline: none;
                color: black;
                font-family: "Lato", sans-serif;
                font-size: 20px;
                padding-left: 10px;
            }
            input {
                width: 100%;
                height: 55px;
            }
        }
        .commentText {
            textarea {
                width: 100%;
                min-height: 200px;
                padding-top: 10px;
            }
        }
        .leaveComment {
            font-weight: 700;
            font-size: 20px;
            background-color: transparent;
            border: 3px solid black;
            padding: 13px 23px;
            cursor: pointer;
        }
    }
}
