footer {
  overflow-x: hidden;
  color: white;
  padding: 100px 0 45px 0;
  background-color: #233000;
}
footer .footer-firstBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
}
footer .footer-firstBlock .siteName p {
  font-size: 45px;
}
footer .footer-firstBlock .footerBlock-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 45px;
}
footer .footer-firstBlock .footer-contacts .email {
  margin-bottom: 22px;
  margin-top: 3px;
}
footer .footer-firstBlock .footer-contacts .adress {
  max-width: 200px;
  line-height: 24px;
}
footer .footer-firstBlock .leaveMail form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 400px) 22px minmax(75px, 175px);
  grid-template-columns: minmax(100px, 400px) minmax(75px, 175px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 22px;
  height: 60px;
  margin-bottom: 15px;
}
footer .footer-firstBlock .leaveMail form input,
footer .footer-firstBlock .leaveMail form button {
  height: 100%;
  background-color: transparent;
}
footer .footer-firstBlock .leaveMail form input {
  width: 100%;
  border: 2px solid white;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: white;
  padding-left: 20px;
}
footer .footer-firstBlock .leaveMail form input::-webkit-input-placeholder {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: white;
}
footer .footer-firstBlock .leaveMail form input::-moz-placeholder {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: white;
}
footer .footer-firstBlock .leaveMail form input:-ms-input-placeholder {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: white;
}
footer .footer-firstBlock .leaveMail form input::-ms-input-placeholder {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: white;
}
footer .footer-firstBlock .leaveMail form input::placeholder {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: white;
}
footer .footer-firstBlock .leaveMail form button {
  width: 100%;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 700;
  background-color: #5e6600;
}
footer .footer-firstBlock .leaveMail .joiningText {
  font-family: "Lato", sans-serif;
  font-size: 12px;
}
footer .line {
  border: 2px dashed white;
  margin-bottom: 40px;
}
footer .footer-secondBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-secondBlock .rights {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
footer .footer-secondBlock .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-secondBlock .socials a {
  margin-right: 18px;
}
footer .footer-secondBlock .socials a:last-child {
  margin-right: 0;
}
footer .footer-secondBlock .socials img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 30px;
  height: 30px;
}

@media (max-width: 1200px) {
  footer .footer-firstBlock .siteName {
    max-width: 155px;
  }
  footer .footer-firstBlock .footerBlock-title {
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  footer {
    padding: 85px 0 45px 0;
  }
  footer .footer-firstBlock {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .footer-firstBlock .siteName {
    max-width: 115px;
  }
  footer .footer-firstBlock .footerBlock-title {
    margin-bottom: 20px;
  }
  footer .footer-firstBlock .leaveMail {
    width: 100%;
    margin-top: 45px;
  }
  footer .footer-firstBlock .leaveMail form {
    -ms-grid-columns: minmax(100px, 2.5fr) minmax(75px, 1fr);
    grid-template-columns: minmax(100px, 2.5fr) minmax(75px, 1fr);
  }
}
@media (max-width: 480px) {
  footer .footer-firstBlock {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 95px;
  }
  footer .footer-firstBlock .footer-contacts p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  footer .footer-firstBlock .footer-contacts .adress {
    max-width: 166px;
    line-height: 24px;
  }
  footer .footer-firstBlock .leaveMail {
    margin-top: 45px;
  }
  footer .footer-firstBlock .leaveMail form {
    -ms-grid-columns: 175px 0 1fr;
    grid-template-columns: 175px 1fr;
    gap: 25px 0;
    height: auto;
    margin-bottom: 15px;
  }
  footer .footer-firstBlock .leaveMail form input,
  footer .footer-firstBlock .leaveMail form button {
    height: 60px;
  }
  footer .footer-firstBlock .leaveMail form input {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  footer .footer-secondBlock .rights {
    max-width: 245px;
    font-size: 16px;
  }
  footer .footer-secondBlock .socials a {
    margin-right: 15px;
  }
  footer .footer-secondBlock .socials img {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 320px) {
  footer {
    padding: 75px 0 45px 0;
  }
  footer .footer-firstBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-firstBlock .siteName {
    margin-bottom: 35px;
  }
  footer .footer-firstBlock .footer-contacts p {
    text-align: center;
    width: auto;
  }
  footer .footer-firstBlock .leaveMail {
    margin-top: 65px;
  }
  footer .footer-secondBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-secondBlock .rights {
    max-width: none;
    font-size: 17px;
    margin-bottom: 25px;
  }
  footer .footer-secondBlock .socials a {
    margin-right: 20px;
  }
  footer .footer-secondBlock .socials img {
    width: 30px;
    height: 30px;
  }
}