header {
  display: block;
  background-image: url(../img/foodDescBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding-bottom: 300px;
}
header .headerContent {
  margin-bottom: 170px;
}
header .subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .subheader h1 {
  max-width: 1180px;
  text-align: center;
  font-size: 95px;
  font-weight: 700;
}

.foodTypes {
  padding-top: 25px;
  padding-bottom: 170px;
  overflow-x: hidden;
}
.foodTypes .description {
  max-width: 385px;
}
.foodTypes .description h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}
.foodTypes .description p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 32.6px;
  color: #4d4d4d;
  margin-bottom: 15px;
}
.foodTypes .description p:last-child {
  margin-bottom: 0;
}
.foodTypes .mintDrink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 5;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}
.foodTypes .mintDrink img {
  width: 31%;
}
.foodTypes .mintDrink .description {
  margin-right: 85px;
}
.foodTypes .bestSalmon {
  margin-bottom: 45px;
}
.foodTypes .bestSalmon .bestSalmon-mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 55px;
}
.foodTypes .bestSalmon .bestSalmon-mainContent img {
  width: 52%;
}
.foodTypes .bestSalmon .bestSalmon-mainContent .description {
  margin-bottom: 65px;
  margin-left: 40px;
}
.foodTypes .bestSalmon .salmonBottomDesc {
  max-width: 361px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 32.6px;
  color: #4d4d4d;
}
.foodTypes .suggestions .description {
  margin: 0 auto;
  margin-bottom: 55px;
}
.foodTypes .suggestions img {
  width: 100%;
}

.pageSwitcher {
  overflow-x: hidden;
  background-color: #ebf0e4;
  padding: 125px 0;
}
.pageSwitcher .pageSwitcher-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pageSwitcher .pageSwitcher-content .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}
.pageSwitcher .pageSwitcher-content .switch p {
  display: inline-block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  color: #233000;
  font-size: 14px;
}
.pageSwitcher .pageSwitcher-content .switch p::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -35px;
  display: block;
  width: 25px;
  height: 12px;
  background-image: url(../../common/icons/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.pageSwitcher .pageSwitcher-content .previousPage h3,
.pageSwitcher .pageSwitcher-content .nextPage h3 {
  font-size: 24px;
}
.pageSwitcher .pageSwitcher-content .previousPage:hover p::before {
  left: -40px;
}
.pageSwitcher .pageSwitcher-content .nextPage .switch:hover p::before {
  right: -40px;
}
.pageSwitcher .pageSwitcher-content .nextPage .switch p::before {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  left: auto;
  right: -35px;
}

@media (max-width: 1200px) {
  .foodTypes .mintDrink .description {
    margin-right: 25px;
  }
}
@media (max-width: 768px) {
  header {
    padding-bottom: 200px;
  }
  header .subheader h1 {
    font-size: 75px;
  }
  .foodTypes {
    padding-top: 130px;
    padding-bottom: 150px;
  }
  .foodTypes .description {
    max-width: 385px;
  }
  .foodTypes .description h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .foodTypes .description p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 32.6px;
    color: #4d4d4d;
    margin-bottom: 15px;
  }
  .foodTypes .description p:last-child {
    margin-bottom: 0;
  }
  .foodTypes .mintDrink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-bottom: 85px;
  }
  .foodTypes .mintDrink img {
    width: 46%;
  }
  .foodTypes .mintDrink .description {
    width: 46%;
    margin-right: 0;
  }
  .foodTypes .bestSalmon {
    margin-bottom: 65px;
  }
  .foodTypes .bestSalmon .bestSalmon-mainContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
  }
  .foodTypes .bestSalmon .bestSalmon-mainContent img {
    width: 60%;
  }
  .foodTypes .bestSalmon .bestSalmon-mainContent .description {
    text-align: center;
    max-width: 100%;
    margin-bottom: 35px;
    margin-left: 0px;
  }
  .foodTypes .suggestions .description {
    margin: 0 auto;
    margin-bottom: 55px;
  }
  .foodTypes .suggestions img {
    width: 100%;
  }
  .pageSwitcher {
    padding: 100px 0;
  }
  .pageSwitcher .pageSwitcher-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .pageSwitcher .pageSwitcher-content .switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .pageSwitcher .pageSwitcher-content .back {
    margin: 35px 0;
  }
  .pageSwitcher .pageSwitcher-content .previousPage h3,
  .pageSwitcher .pageSwitcher-content .nextPage h3 {
    text-align: center;
  }
}
@media (max-width: 480px) {
  header {
    padding-bottom: 150px;
  }
  header .subheader h1 {
    font-size: 62px;
  }
  .foodTypes {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .foodTypes .mintDrink {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 85px;
  }
  .foodTypes .mintDrink img {
    width: 70%;
    margin: 0 auto;
  }
  .foodTypes .mintDrink .description {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 55px;
  }
  .foodTypes .mintDrink .description h2 {
    margin-bottom: 20px;
  }
  .pageSwitcher .pageSwitcher-content .back {
    margin: 45px 0;
  }
}