header {
  display: block;
  background-image: url(../img/whoWeAreBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding-bottom: 300px;
}
header .subheader {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 185px;
}
header .subheader .title {
  margin-right: 110px;
}
header .subheader h1 {
  font-size: 115px;
  font-weight: 700;
  margin-bottom: 25px;
}
header .subheader p {
  font-size: 26px;
  max-width: 605px;
  line-height: 40px;
}

.ourStory {
  overflow-x: hidden;
  padding-top: 170px;
  padding-bottom: 200px;
  position: relative;
}
.ourStory::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
  z-index: -1;
  display: block;
  width: 250px;
  height: 250px;
  background-image: url(../img/tomato.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.ourStory .ourStory-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ourStory .ourStory-content .storyTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 545px;
  margin-bottom: 80px;
}
.ourStory .ourStory-content .storyTitle h2 {
  font-size: 78px;
  margin-bottom: 18px;
}
.ourStory .ourStory-content .storyTitle p {
  font-family: "Lato", sans-serif;
  color: #4d4d4d;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.ourStory .ourStory-content img {
  width: 48%;
}

.staff {
  overflow-x: hidden;
  padding-bottom: 150px;
}
.staff .staff-content .employee-wrapper:last-child {
  margin-top: -300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.staff .staff-content .employee-wrapper:last-child .employee .employeePhoto .aboutPersone {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(calc(-100% - 85px));
          transform: translateX(calc(-100% - 85px));
  width: 375px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #4d4d4d;
  line-height: 30px;
  text-align: right;
}
.staff .staff-content .employee {
  width: calc(50% - 65px);
}
.staff .staff-content .employee .mainInfo h3,
.staff .staff-content .employee .mainInfo .personeName {
  text-align: center;
}
.staff .staff-content .employee .mainInfo h3 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 15px;
}
.staff .staff-content .employee .mainInfo .personeName {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  margin-bottom: 18px;
}
.staff .staff-content .employee .mainInfo .employeePhoto {
  position: relative;
}
.staff .staff-content .employee .mainInfo .employeePhoto img {
  width: 100%;
}
.staff .staff-content .employee .mainInfo .employeePhoto .aboutPersone {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(calc(100% + 85px));
          transform: translateX(calc(100% + 85px));
  width: 375px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #4d4d4d;
  line-height: 30px;
}

.coockingVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 150px 0;
  position: relative;
  background-image: url(../img/video.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  z-index: -2;
}
.coockingVideo::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: #233000;
  opacity: 70%;
  top: 0;
  left: 0;
  z-index: -1;
}
.coockingVideo .cookingVideoTitle h2 {
  font-size: 85px;
  margin-bottom: 10px;
  text-align: center;
}
.coockingVideo .cookingVideoTitle p {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  margin-bottom: 75px;
}
.coockingVideo .startBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 3px solid white;
}
.coockingVideo .startBtn img {
  margin-left: 15px;
  height: 55px;
}

.process {
  overflow-x: hidden;
  padding-top: 170px;
  padding-bottom: 200px;
  position: relative;
}
.process::after, .process::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  background-image: url(../img/rosemary.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.process::before {
  width: 325px;
  height: 380px;
  top: 8px;
  right: 0;
}
.process::after {
  width: 172px;
  height: 200px;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  bottom: 15px;
  left: 0;
}

.process-block__title {
  font-size: 85px;
  text-align: center;
  margin-bottom: 110px;
}

.process-block__title h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.process-stepMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}
.process-stepMain img {
  width: 50%;
  margin-right: 95px;
}

.process-step .stepsTitle {
  max-width: 450px;
}
.process-step .stepsTitle h3 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 15px;
}
.process-step .stepsTitle p {
  font-family: "Lato", sans-serif;
  color: #4d4d4d;
  font-size: 18px;
}

.process-stepAnothers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.process-stepAnothers img {
  width: 100%;
}
.process-stepAnothers .process-step {
  width: calc(44% - 22px);
}
.process-stepAnothers .process-step:first-child .stepsTitle {
  max-width: 310px;
  margin: 0 auto;
  margin-top: 30px;
}
.process-stepAnothers .process-step:last-child {
  margin-top: 130px;
}
.process-stepAnothers .process-step:last-child .stepsTitle {
  margin-bottom: 30px;
}

.process-step h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
}

.process-step p {
  margin-top: 10px;
  font-size: 14px;
}

.makingReservation {
  padding: 150px 0;
  background-color: #ebf0e4;
}
.makingReservation .reservationTitle {
  margin-bottom: 100px;
}
.makingReservation .reservationTitle h2 {
  text-align: center;
  font-size: 75px;
  margin-bottom: 5px;
}
.makingReservation .reservationTitle p {
  text-align: center;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: #4d4d4d;
}
.makingReservation .reservation .reservationForms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
.makingReservation .reservation .reservationForms .fieldWrapper {
  position: relative;
  width: calc(33.3333333333% - 40px);
  height: 75px;
}
.makingReservation .reservation .reservationForms .fieldWrapper .fieldBorder {
  display: block;
  position: absolute;
  z-index: 10;
}
.makingReservation .reservation .reservationForms .fieldWrapper .fieldBorder.top, .makingReservation .reservation .reservationForms .fieldWrapper .fieldBorder.bottom {
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}
.makingReservation .reservation .reservationForms .fieldWrapper .fieldBorder.top {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.makingReservation .reservation .reservationForms .fieldWrapper .fieldBorder.bottom {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}
.makingReservation .reservation .reservationForms .fieldWrapper .fieldBorder.left, .makingReservation .reservation .reservationForms .fieldWrapper .fieldBorder.right {
  top: 0;
  width: 2px;
  height: 100%;
  background-color: black;
}
.makingReservation .reservation .reservationForms .fieldWrapper .fieldBorder.left {
  left: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.makingReservation .reservation .reservationForms .fieldWrapper .fieldBorder.right {
  right: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
}
.makingReservation .reservation .reservationForms .selectDate,
.makingReservation .reservation .reservationForms .selectTime,
.makingReservation .reservation .reservationForms .persoNumber {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Lato", sans-serif;
}
.makingReservation .reservation .booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 60px;
  color: white;
  font-size: 20px;
  background-color: #233000;
  border: none;
  margin: 0 auto;
  cursor: pointer;
}

@media (max-width: 1200px) {
  header .subheader .title {
    margin-right: 0;
  }
  .ourStory {
    padding-bottom: 185px;
  }
  .ourStory::before {
    width: 225px;
    height: 225px;
  }
  .ourStory .ourStory-content .storyTitle {
    max-width: 440px;
  }
  .ourStory .ourStory-content img {
    width: 48%;
  }
}
@media (max-width: 768px) {
  header {
    padding-bottom: 200px;
  }
  header .subheader {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 165px;
  }
  header .subheader .title {
    margin-right: 0px;
  }
  header .subheader h1 {
    font-size: 100px;
    margin-bottom: 20px;
  }
  header .subheader p {
    font-size: 22px;
    line-height: 35px;
  }
  .ourStory {
    padding-top: 170px;
    padding-bottom: 200px;
    position: relative;
  }
  .ourStory::before {
    top: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 200px;
    height: 200px;
  }
  .ourStory .ourStory-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ourStory .ourStory-content .storyTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    max-width: 545px;
    margin-bottom: 80px;
  }
  .ourStory .ourStory-content .storyTitle h2 {
    font-size: 83px;
    margin-bottom: 18px;
    text-align: center;
  }
  .ourStory .ourStory-content .storyTitle p {
    text-align: center;
    font-size: 20px;
  }
  .ourStory .ourStory-content img {
    width: 90%;
  }
  .staff .staff-content .employee-wrapper:last-child {
    margin-top: 0;
    display: block;
  }
  .staff .staff-content .employee-wrapper:last-child .employee {
    margin-bottom: 0;
  }
  .staff .staff-content .employee-wrapper:last-child .employee .employeePhoto .aboutPersone {
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }
  .staff .staff-content .employee {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .staff .staff-content .employee .mainInfo h3 {
    font-size: 52px;
  }
  .staff .staff-content .employee .mainInfo .personeName {
    margin-bottom: 35px;
  }
  .staff .staff-content .employee .mainInfo .employeePhoto img {
    width: 100%;
    margin-bottom: 25px;
  }
  .staff .staff-content .employee .mainInfo .employeePhoto .aboutPersone {
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
    font-size: 20px;
  }
  .coockingVideo {
    padding: 125px 0;
  }
  .coockingVideo .cookingVideoTitle h2 {
    font-size: 75px;
    margin-bottom: 10px;
  }
  .coockingVideo .cookingVideoTitle p {
    font-size: 20px;
    margin-bottom: 45px;
  }
  .coockingVideo .startBtn {
    width: 115px;
    height: 115px;
  }
  .coockingVideo .startBtn img {
    height: 50px;
  }
  .process {
    padding-top: 140px;
    padding-bottom: 200px;
    position: relative;
  }
  .process::after, .process::before {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
    background-image: url(../img/rosemary.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .process::before {
    width: 230px;
    height: 270px;
    top: 8px;
    right: 0;
  }
  .process::after {
    width: 172px;
    height: 200px;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
    bottom: 15px;
    left: 0;
  }
  .process-block__title {
    font-size: 74px;
    margin-bottom: 90px;
  }
  .process-stepMain {
    margin-bottom: 80px;
  }
  .process-stepMain img {
    margin-right: 65px;
  }
  .process-step .stepsTitle h3 {
    font-size: 55px;
  }
  .process-step .stepsTitle p {
    font-size: 17px;
  }
  .process-stepAnothers .process-step {
    width: 45%;
  }
  .process-stepAnothers .process-step:first-child .stepsTitle {
    max-width: 270px;
  }
  .process-stepAnothers .process-step:last-child {
    margin-top: 90px;
  }
  .process-step h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
  }
  .process-step p {
    margin-top: 10px;
    font-size: 14px;
  }
}
@media (max-width: 595px) {
  header {
    padding-bottom: 145px;
  }
  header .subheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 135px;
  }
  header .subheader h1 {
    font-size: 75px;
    margin-bottom: 20px;
    text-align: center;
  }
  header .subheader p {
    text-align: center;
    font-size: 20px;
    max-width: 465px;
    line-height: 33px;
  }
  .process {
    padding-top: 140px;
    padding-bottom: 175px;
  }
  .process::before {
    width: 180px;
    height: 210px;
    top: 8px;
    right: 0;
  }
  .process::after {
    width: 172px;
    height: 200px;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
    bottom: 15px;
    left: 0;
  }
  .process-block__title {
    font-size: 65px;
    margin-bottom: 90px;
  }
  .process-stepMain {
    margin-bottom: 75px;
  }
  .process-stepMain img {
    margin-right: 45px;
  }
  .process-step .stepsTitle h3 {
    font-size: 45px;
    margin-bottom: 10px;
  }
  .process-step .stepsTitle p {
    font-size: 16px;
  }
  .process-stepAnothers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .process-stepAnothers .process-step {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .process-stepAnothers .process-step img {
    width: calc(50% - 20px);
  }
  .process-stepAnothers .process-step .stepsTitle {
    max-width: 100%;
    width: calc(50% - 20px);
  }
  .process-stepAnothers .process-step .stepsTitle h3 {
    font-size: 45px;
  }
  .process-stepAnothers .process-step:first-child .stepsTitle {
    margin: 0;
  }
  .process-stepAnothers .process-step:last-child {
    margin-top: 75px;
  }
  .process-stepAnothers .process-step:last-child .stepsTitle {
    margin: 0;
  }
}
@media (max-width: 480px) {
  header {
    padding-bottom: 125px;
  }
  header .subheader {
    margin-top: 100px;
  }
  header .subheader h1 {
    font-size: 65px;
    margin-bottom: 10px;
  }
  header .subheader p {
    font-size: 18px;
  }
  .ourStory {
    padding-top: 110px;
    padding-bottom: 140px;
  }
  .ourStory::before {
    top: 30px;
    left: 50%;
    width: 175px;
    height: 175px;
  }
  .ourStory .ourStory-content .storyTitle {
    margin-bottom: 60px;
  }
  .ourStory .ourStory-content .storyTitle h2 {
    font-size: 70px;
    margin-bottom: 15px;
  }
  .ourStory .ourStory-content .storyTitle p {
    font-size: 17px;
    line-height: 26px;
  }
  .ourStory .ourStory-content img {
    width: 100%;
  }
  .staff {
    padding-bottom: 125px;
  }
  .staff .staff-content .employee-wrapper:last-child .employee .employeePhoto .aboutPersone {
    font-size: 18px;
  }
  .staff .staff-content .employee {
    width: 95%;
  }
  .staff .staff-content .employee .mainInfo h3 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  .staff .staff-content .employee .mainInfo .personeName {
    margin-bottom: 35px;
  }
  .staff .staff-content .employee .mainInfo .employeePhoto img {
    width: 100%;
    margin-bottom: 25px;
  }
  .staff .staff-content .employee .mainInfo .employeePhoto .aboutPersone {
    font-size: 18px;
  }
  .coockingVideo {
    padding: 105px 0;
  }
  .coockingVideo .cookingVideoTitle h2 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  .coockingVideo .cookingVideoTitle p {
    font-size: 17px;
    margin-bottom: 50px;
  }
  .coockingVideo .startBtn {
    width: 105px;
    height: 105px;
  }
  .coockingVideo .startBtn img {
    margin-left: 12px;
    height: 45px;
  }
  .process {
    padding-top: 140px;
    padding-bottom: 175px;
  }
  .process::before {
    width: 180px;
    height: 210px;
    top: 8px;
    right: 0;
  }
  .process::after {
    width: 172px;
    height: 200px;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
    bottom: 15px;
    left: 0;
  }
  .process-block__title {
    font-size: 55px;
    margin-bottom: 75px;
  }
  .process-stepMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 75px;
  }
  .process-stepMain img {
    width: 85%;
    margin-top: 40px;
    margin-right: 0;
  }
  .process-step .stepsTitle h3 {
    font-size: 55px;
    margin-bottom: 15px;
    text-align: center;
  }
  .process-step .stepsTitle p {
    font-size: 18px;
    text-align: center;
  }
  .process-stepAnothers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .process-stepAnothers .process-step {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .process-stepAnothers .process-step img {
    width: 85%;
  }
  .process-stepAnothers .process-step .stepsTitle {
    max-width: 100%;
    width: 100%;
  }
  .process-stepAnothers .process-step .stepsTitle h3 {
    font-size: 55px;
  }
  .process-stepAnothers .process-step:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .process-stepAnothers .process-step:first-child .stepsTitle {
    max-width: 100%;
    margin: 0;
    margin-bottom: 40px;
  }
  .process-stepAnothers .process-step:last-child {
    margin-top: 75px;
  }
  .process-stepAnothers .process-step:last-child .stepsTitle {
    margin: 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 320px) {
  header {
    padding-bottom: 100px;
  }
  header .subheader {
    margin-top: 90px;
  }
  header .subheader h1 {
    font-size: 55px;
    margin-bottom: 10px;
  }
  header .subheader p {
    font-size: 16px;
  }
  .ourStory {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .ourStory::before {
    top: 20px;
    left: 50%;
    width: 170px;
    height: 170px;
  }
  .ourStory .ourStory-content .storyTitle {
    margin-bottom: 45px;
  }
  .ourStory .ourStory-content .storyTitle h2 {
    font-size: 56px;
    margin-bottom: 15px;
  }
  .ourStory .ourStory-content .storyTitle p {
    font-size: 15px;
    line-height: 26px;
  }
  .ourStory .ourStory-content img {
    width: 100%;
  }
  .staff {
    padding-bottom: 85px;
  }
  .staff .staff-content .employee-wrapper:last-child .employee .employeePhoto .aboutPersone {
    font-size: 18px;
    line-height: 28px;
  }
  .staff .staff-content .employee {
    width: 95%;
  }
  .staff .staff-content .employee .mainInfo h3 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .staff .staff-content .employee .mainInfo .personeName {
    font-size: 16px;
    margin-bottom: 35px;
  }
  .staff .staff-content .employee .mainInfo .employeePhoto img {
    width: 100%;
    margin-bottom: 20px;
  }
  .staff .staff-content .employee .mainInfo .employeePhoto .aboutPersone {
    font-size: 18px;
    line-height: 28px;
  }
  .coockingVideo .cookingVideoTitle h2 {
    font-size: 55px;
    margin-bottom: 20px;
  }
  .process {
    padding-top: 115px;
    padding-bottom: 165px;
  }
  .process::before {
    width: 140px;
    height: 162px;
    top: 8px;
    right: 0;
  }
  .process::after {
    width: 130px;
    height: 151px;
  }
  .process-block__title {
    font-size: 42px;
    margin-bottom: 75px;
  }
  .process-stepMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 75px;
  }
  .process-stepMain img {
    width: 100%;
    margin-top: 40px;
    margin-right: 0;
  }
  .process-step .stepsTitle h3 {
    font-size: 45px;
    margin-bottom: 15px;
    text-align: center;
  }
  .process-step .stepsTitle p {
    font-size: 17px;
    text-align: center;
  }
  .process-stepAnothers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .process-stepAnothers .process-step {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .process-stepAnothers .process-step img {
    width: 100%;
  }
  .process-stepAnothers .process-step .stepsTitle {
    max-width: 100%;
    width: 100%;
  }
  .process-stepAnothers .process-step .stepsTitle h3 {
    font-size: 45px;
  }
  .process-stepAnothers .process-step .stepsTitle p {
    font-size: 17px;
  }
  .process-stepAnothers .process-step:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .process-stepAnothers .process-step:first-child .stepsTitle {
    max-width: 100%;
    margin: 0;
    margin-bottom: 40px;
  }
  .process-stepAnothers .process-step:last-child {
    margin-top: 75px;
  }
  .process-stepAnothers .process-step:last-child .stepsTitle {
    margin: 0;
    margin-bottom: 40px;
  }
}