.helloBlock {
  color: white;
  background-color: #233000;
  padding-bottom: 185px;
}

header {
  color: white;
  padding-top: 60px;
  margin-bottom: 135px;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.siteName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.siteName .title {
  display: inline-block;
  position: relative;
  font-size: 52px;
  margin-right: 45px;
}
.siteName .title::after, .siteName .title::before {
  content: "";
  position: absolute;
  display: block;
  width: 150px;
  height: 20px;
  border: 2px white solid;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.siteName .title::after {
  bottom: -15px;
  border-top: none;
}
.siteName .title::before {
  top: -15px;
  border-bottom: none;
}
.siteName .burgerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 46px;
  height: 30px;
  cursor: pointer;
}
.siteName .burgerMenu span, .siteName .burgerMenu::after, .siteName .burgerMenu::before {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.siteName .burgerMenu::after, .siteName .burgerMenu::before {
  content: "";
  position: absolute;
}
.siteName .burgerMenu::after {
  bottom: 0;
}
.siteName .burgerMenu::before {
  top: 0;
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts .number {
  font-size: 22px;
  margin-right: 26px;
}
.contacts .bookPlace {
  display: block;
  font-size: 28px;
  padding: 12px 35px;
  border: 2px solid white;
  outline: none;
}

@media (max-width: 768px) {
  .helloBlock {
    padding-bottom: 140px;
  }
  header {
    color: white;
    padding-top: 60px;
    margin-bottom: 105px;
  }
  .headerContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .siteName {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .siteName .title {
    display: inline-block;
    position: relative;
    font-size: 40px;
    margin-right: 30px;
  }
  .siteName .title::after, .siteName .title::before {
    content: "";
    position: absolute;
    display: block;
    width: 110px;
    height: 15px;
    border: 2px white solid;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .siteName .title::after {
    bottom: -12px;
    border-top: none;
  }
  .siteName .title::before {
    top: -12px;
    border-bottom: none;
  }
  .siteName .burgerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 28px;
    height: 23px;
  }
  .siteName .burgerMenu::after, .siteName .burgerMenu::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .siteName .burgerMenu::after {
    bottom: 0;
  }
  .siteName .burgerMenu::before {
    top: 0;
  }
  .siteName .burgerMenu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts .number {
    font-size: 19px;
    margin-right: 22px;
  }
  .contacts .bookPlace {
    display: block;
    font-size: 24px;
    padding: 11px 22px;
    border: 2px solid white;
    outline: none;
  }
}
@media (max-width: 480px) {
  .helloBlock {
    padding-bottom: 85px;
  }
  header {
    margin-bottom: 90px;
  }
  .siteName {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .siteName .title {
    display: inline-block;
    position: relative;
    font-size: 38px;
    margin-right: 30px;
  }
  .siteName .title::after, .siteName .title::before {
    content: "";
    position: absolute;
    display: block;
    width: 102px;
    height: 12px;
    border: 2px white solid;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .siteName .title::after {
    bottom: -10px;
    border-top: none;
  }
  .siteName .title::before {
    top: -10px;
    border-bottom: none;
  }
  .siteName .burgerMenu {
    width: 36px;
    height: 27px;
  }
  .contacts {
    display: none;
  }
  .contacts .number {
    font-size: 19px;
    margin-right: 22px;
  }
  .contacts .bookPlace {
    display: block;
    font-size: 24px;
    padding: 11px 22px;
    border: 2px solid white;
    outline: none;
  }
}
@media (max-width: 412px) {
  .siteName .title {
    font-size: 36px;
  }
  .siteName .title::after, .siteName .title::before {
    width: 100px;
  }
}
@media (max-width: 320px) {
  .helloBlock {
    padding-bottom: 85px;
  }
  header {
    margin-bottom: 85px;
  }
  .siteName {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .siteName .title {
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin-right: 30px;
  }
  .siteName .title::after, .siteName .title::before {
    content: "";
    position: absolute;
    display: block;
    width: 88px;
    height: 12px;
    border: 2px white solid;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .siteName .title::after {
    bottom: -10px;
    border-top: none;
  }
  .siteName .title::before {
    top: -10px;
    border-bottom: none;
  }
  .siteName .burgerMenu {
    width: 36px;
    height: 23px;
  }
  .contacts {
    display: none;
  }
  .contacts .number {
    font-size: 19px;
    margin-right: 22px;
  }
  .contacts .bookPlace {
    display: block;
    font-size: 24px;
    padding: 11px 22px;
    border: 2px solid white;
    outline: none;
  }
}