@use "../../common/mixins.scss" as *;

// ===== HEADER =====

header {
    display: block;
    @include setBackgroundImage("../img/rawMeat.png");
    margin: 0;
    padding-bottom: 135px;
    .subheader {
        width: 100%;
        margin-top: 120px;

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 965px;
            margin: 0 auto;
        }
        h1 {
            font-size: 85px;
            font-weight: 700;
            text-align: center;
        }
        .postInfo {
            display: flex;
            align-items: center;
            margin-bottom: 35px;
            .userPhoto {
                width: 105px;
                height: 105px;
                border-radius: 100%;
                margin-right: 5px;
            }
            .additionalInfo {
                font-family: "Lato", sans-serif;
                font-size: 17px;
                color: #fff;
            }
            .circle {
                font-size: 14px;
                margin: 0 15px;
            }
        }
    }
}

.specialWrapper {
    max-width: 1055px;
    margin: 0 auto;
}

// ===== ARTICLE MAIN TEXT =====
.artcileMainText {
    padding-top: 100px;
    padding-bottom: 150px;
    .line {
        position: relative;
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -150px;
            left: 0;
            display: block;
            width: 100%;
            border: 3px dashed black;
        }
    }
    .artcileMainText-content {
        .pageLink {
            text-align: center;
            margin-bottom: 65px;
            p {
                font-size: 20px;
                font-family: "Lato", sans-serif;
                .unactiveLink {
                    font-family: "Lato", sans-serif;
                    color: #b0b0b0;
                }
                .activeLink {
                    font-family: "Lato", sans-serif;
                    color: #4d4d4d;
                }
            }
        }
        .titleText {
            font-weight: 700;
            font-size: 30px;
            color: #4d4d4d;
            margin-bottom: 85px;
        }
        .articleText {
            color: #4d4d4d;
            font-family: "Lato", sans-serif;
            font-size: 20px;
            line-height: 32.6px;
            margin-bottom: 75px;
            &:last-child {
                margin-bottom: 150px;
            }
        }
        .noMargin {
            margin-bottom: 0;
        }

        .articleInfo {
            .dishPhotos {
                display: flex;
                justify-content: space-between;
                margin-bottom: 100px;
                img {
                    width: calc(50% - 30px);
                }
            }
            .authorWords {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 172.5px 0;
                margin-bottom: 110px;
                @include setBackgroundImage("../img/personeCooking.png");
                blockquote {
                    position: relative;
                    color: white;
                    font-family: "Lato", sans-serif;
                    font-size: 33px;
                    font-weight: 700;
                    max-width: 917px;
                    font-style: italic;
                    span {
                        font-family: "Lato", sans-serif;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        right: 0px;
                        top: -32px;
                        display: block;
                        width: 195px;
                        height: 195px;
                        @include setBackgroundImage(
                            "../../common/img/whiteQuote.png"
                        );
                    }
                }
            }
            .tags {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 100px;
                margin-bottom: 100px;
                p {
                    font-size: 25px;
                    font-weight: 700;
                }
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: 15px;
                    gap: 0 20px;
                    li {
                        padding: 5px 13px;
                        border: 2px solid black;
                        font-size: 16px;
                        font-family: "Lato", sans-serif;
                    }
                }
            }
            .userInfo {
                display: flex;
                align-items: center;
                .userPhoto {
                    width: 200px;
                    height: 200px;
                    border-radius: 100%;
                    margin-right: 50px;
                }
                .userName {
                    font-weight: 700;
                    font-size: 32px;
                    margin-bottom: 25px;
                }
                .description {
                    font-family: "Lato", sans-serif;
                    color: #4d4d4d;
                    font-size: 21px;
                }
            }
        }
    }
}

// ===== RELATED POSTS =====

.relatedPosts {
    padding-top: 100px;
    padding-bottom: 150px;
    .relatedPosts-title {
        font-weight: 700;
        font-size: 38px;
        text-align: center;
        margin-bottom: 110px;
    }
    .foodPosts-content {
        display: flex;
        justify-content: space-between;
        .dishPost {
            width: calc(50% - 30px);
            .dishPhotoWrapper {
                margin-bottom: 40px;
                position: relative;
                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                    width: 160px;
                    height: 45px;
                    background-color: #5e6600;
                    position: absolute;
                    top: 12px;
                    right: 12px;
                }
                .dishPhoto {
                    width: 100%;
                }
            }
            .mainPostInfo {
                width: 525px;
                margin: 0 auto;
            }
            .postInfo {
                display: flex;
                align-items: center;
                margin-bottom: 35px;
                .userPhoto {
                    width: 75px;
                    height: 75px;
                    border-radius: 100%;
                    margin-right: 5px;
                }
                .additionalInfo {
                    font-family: "Lato", sans-serif;
                    font-size: 17px;
                    color: #5e6600;
                }
                .circle {
                    font-size: 14px;
                }
            }
            .postTitle {
                font-size: 41px;
                margin-bottom: 12px;
            }
            .line {
                width: 100%;
                border: 2px dashed black;
                margin-bottom: 24px;
            }
            .postText {
                font-size: 18px;
                font-family: "Lato", sans-serif;
                font-weight: 700;
                color: #4d4d4d;
                margin-bottom: 35px;
            }
            .readMore {
                display: inline-block;
                position: relative;
                color: black;
                font-family: "Lato", sans-serif;
                font-size: 20px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 2px;
                    transform: rotate(180deg);
                    right: -45px;
                    display: block;
                    width: 46px;
                    height: 26px;
                    @include setBackgroundImage("../../common/icons/arrow.svg");
                    transition: 0.3s;
                }
                &:hover::after {
                    right: -52px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .specialWrapper {
        max-width: 800px;
        margin: 0 auto;
    }
    // ===== ARTICLE MAIN TEXT =====
    .artcileMainText {
        padding-top: 100px;
        padding-bottom: 150px;

        .artcileMainText-content {
            .articleInfo {
                .dishPhotos {
                    img {
                        width: calc(50% - 15px);
                    }
                }
            }
        }
    }
    .relatedPosts {
        padding-top: 100px;
        padding-bottom: 150px;
        .relatedPosts-title {
            font-weight: 700;
            font-size: 38px;
            text-align: center;
            margin-bottom: 110px;
        }
        .foodPosts-content {
            .dishPost {
                width: calc(50% - 20px);
                .dishPhotoWrapper {
                    margin-bottom: 40px;
                    position: relative;

                    .dishPhoto {
                        width: 100%;
                    }
                }
                .mainPostInfo {
                    width: 88%;
                    margin: 0 auto;
                }
                .postInfo {
                    display: flex;
                    align-items: center;
                    margin-bottom: 35px;
                    .userPhoto {
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        margin-right: 5px;
                    }
                    .additionalInfo {
                        font-family: "Lato", sans-serif;
                        font-size: 14px;
                        color: #5e6600;
                    }
                    .circle {
                        font-size: 14px;
                    }
                }
                .postTitle {
                    font-size: 33px;
                    margin-bottom: 12px;
                }
                .line {
                    width: 100%;
                    border: 2px dashed black;
                    margin-bottom: 24px;
                }
                .postText {
                    font-size: 17px;
                    font-family: "Lato", sans-serif;
                    font-weight: 700;
                    color: #4d4d4d;
                    margin-bottom: 35px;
                }
                .readMore {
                    display: inline-block;
                    position: relative;
                    color: black;
                    font-family: "Lato", sans-serif;
                    font-size: 18px;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 2px;
                        transform: rotate(180deg);
                        right: -45px;
                        display: block;
                        transition: 0.3s;
                    }
                    &:hover::after {
                        right: -52px;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    // ===== HEADER =====

    header {
        padding-bottom: 100px;
        .subheader {
            width: 100%;
            margin-top: 120px;

            .title {
                max-width: 660px;
            }
            h1 {
                font-size: 65px;
            }
            .postInfo {
                .circle {
                    font-size: 14px;
                    margin: 0 10px;
                }
            }
        }
    }

    .specialWrapper {
        max-width: 555px;
        margin: 0 auto;
    }

    // ===== ARTICLE MAIN TEXT =====
    .artcileMainText {
        padding-top: 100px;
        padding-bottom: 150px;

        .artcileMainText-content {
            .pageLink {
                margin-bottom: 45px;
                p {
                    font-size: 18px;
                }
            }
            .titleText {
                font-size: 24px;
                margin-bottom: 65px;
            }
            .articleText {
                color: #4d4d4d;
                font-family: "Lato", sans-serif;
                font-size: 19px;
                line-height: 32.6px;
                margin-bottom: 75px;
                &:last-child {
                    margin-bottom: 120px;
                }
            }

            .articleInfo {
                .dishPhotos {
                    margin-bottom: 85px;
                }
                .authorWords {
                    padding: 125px 0;
                    margin-bottom: 90px;
                    blockquote {
                        font-size: 24px;
                        &::after {
                            top: -22px;
                            width: 150px;
                            height: 150px;
                        }
                    }
                }
                .tags {
                    display: flex;
                    align-items: normal;
                    justify-content: center;
                    margin-top: 100px;
                    margin-bottom: 100px;
                    p {
                        font-size: 25px;
                        font-weight: 700;
                    }
                    ul {
                        display: flex;
                        margin-left: 15px;
                        gap: 10px 20px;
                        li {
                            padding: 5px 13px;
                            border: 2px solid black;
                            font-size: 16px;
                            font-family: "Lato", sans-serif;
                        }
                    }
                }
                .userInfo {
                    display: flex;
                    align-items: center;
                    .userPhoto {
                        width: 200px;
                        height: 200px;
                        border-radius: 100%;
                        margin-right: 50px;
                    }
                    .userName {
                        font-weight: 700;
                        font-size: 32px;
                        margin-bottom: 25px;
                    }
                    .description {
                        font-family: "Lato", sans-serif;
                        color: #4d4d4d;
                        font-size: 21px;
                    }
                }
            }
        }
    }

    .relatedPosts {
        padding-top: 100px;
        padding-bottom: 150px;
        .relatedPosts-title {
            font-weight: 700;
            font-size: 38px;
            text-align: center;
            margin-bottom: 110px;
        }
        .foodPosts-content {
            display: flex;
            justify-content: space-between;
            .dishPost {
                width: calc(50% - 15px);
                .dishPhotoWrapper {
                    position: relative;
                    &::after {
                        font-size: 17px;
                        width: 125px;
                        height: 35px;
                    }
                }
                .mainPostInfo {
                    width: 88%;
                    margin: 0 auto;
                }
                .postInfo {
                    display: flex;
                    align-items: center;
                    margin-bottom: 35px;
                    .userPhoto {
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        margin-right: 5px;
                    }
                    .additionalInfo {
                        font-family: "Lato", sans-serif;
                        font-size: 14px;
                        color: #5e6600;
                    }
                    .circle {
                        font-size: 14px;
                    }
                }
                .postTitle {
                    font-size: 25px;
                    margin-bottom: 12px;
                }
                .line {
                    width: 100%;
                    border: 2px dashed black;
                    margin-bottom: 24px;
                }
                .postText {
                    font-size: 17px;
                    font-family: "Lato", sans-serif;
                    font-weight: 700;
                    color: #4d4d4d;
                    margin-bottom: 35px;
                }
                .readMore {
                    display: inline-block;
                    position: relative;
                    color: black;
                    font-family: "Lato", sans-serif;
                    font-size: 18px;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 2px;
                        transform: rotate(180deg);
                        right: -45px;
                        display: block;
                        transition: 0.3s;
                    }
                    &:hover::after {
                        right: -52px;
                    }
                }
            }
        }
    }
}
@media (max-width: 480px) {
    // ===== HEADER =====

    header {
        padding-bottom: 70px;
        .subheader {
            width: 100%;
            margin-top: 100px;

            .title {
                max-width: 660px;
            }
            h1 {
                font-size: 50px;
            }
            .postInfo {
                .userPhoto {
                    width: 90px;
                    height: 90px;
                }
                .additionalInfo {
                    font-size: 16px;
                }
                .circle {
                    font-size: 14px;
                    margin: 0 6px;
                }
            }
        }
    }

    .specialWrapper {
        max-width: 365px;
        margin: 0 auto;
    }

    // ===== ARTICLE MAIN TEXT =====
    .artcileMainText {
        padding-top: 100px;
        padding-bottom: 110px;
        .line {
            position: relative;
            &::after {
                bottom: -110px;
            }
        }
        .artcileMainText-content {
            .pageLink {
                margin-bottom: 45px;
                p {
                    font-size: 17px;
                }
            }
            .titleText {
                font-size: 23px;
                margin-bottom: 65px;
            }
            .articleText {
                font-size: 18px;
                margin-bottom: 45px;
                &:last-child {
                    margin-bottom: 90px;
                }
            }

            .articleInfo {
                .dishPhotos {
                    margin-bottom: 55px;
                    flex-direction: column;
                    gap: 35px 0;
                    img {
                        width: 100%;
                    }
                }
                .authorWords {
                    padding: 90px 0;
                    margin-bottom: 70px;
                    blockquote {
                        font-size: 19px;
                        &::after {
                            top: -18px;
                            width: 120px;
                            height: 120px;
                        }
                    }
                }
                .tags {
                    margin: 95px 0;
                    p {
                        font-size: 25px;
                        font-weight: 700;
                    }
                    ul {
                        display: flex;
                        margin-left: 15px;
                        gap: 10px 20px;
                        li {
                            padding: 5px 13px;
                            border: 2px solid black;
                            font-size: 16px;
                            font-family: "Lato", sans-serif;
                        }
                    }
                }
                .userInfo {
                    .userPhoto {
                        width: 140px;
                        height: 140px;
                        margin-right: 25px;
                    }
                    .userName {
                        font-size: 25px;
                        margin-bottom: 12px;
                    }
                    .description {
                        font-family: "Lato", sans-serif;
                        color: #4d4d4d;
                        font-size: 17px;
                    }
                }
            }
        }
    }

    .relatedPosts {
        padding-top: 100px;
        padding-bottom: 150px;
        .relatedPosts-title {
            font-weight: 700;
            font-size: 38px;
            text-align: center;
            margin-bottom: 110px;
        }
        .foodPosts-content {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            gap: 85px 0;
            .dishPost {
                width: 95%;
                .dishPhotoWrapper {
                    &::after {
                        font-size: 19px;
                        width: 130px;
                        height: 40px;
                    }
                }
                .postInfo {
                    align-items: center;
                    .userPhoto {
                        width: 68px;
                        height: 68px;
                        margin-right: 10px;
                    }
                    .additionalInfo {
                        font-size: 15px;
                    }
                }
                .postTitle {
                    font-size: 27px;
                }

                .postText {
                    font-size: 18px;
                    margin-bottom: 35px;
                }
                .readMore {
                    font-size: 21px;
                }
            }
        }
    }
}
@media (max-width: 442px) {
    // ===== ARTICLE MAIN TEXT =====
    .artcileMainText {
        .artcileMainText-content {
            .articleInfo {
                .userInfo {
                    flex-direction: column;
                    .userPhoto {
                        width: 155px;
                        height: 155px;
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                    .userName {
                        font-size: 28px;
                        margin-bottom: 18px;
                        text-align: center;
                    }
                    .description {
                        text-align: center;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .relatedPosts {
        padding-top: 100px;
        padding-bottom: 150px;
        .relatedPosts-title {
            font-weight: 700;
            font-size: 38px;
            text-align: center;
            margin-bottom: 110px;
        }
        .foodPosts-content {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            gap: 85px 0;
            .dishPost {
                width: 100%;

                .mainPostInfo {
                    width: 100%;
                }

                .postTitle {
                    font-size: 28px;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    // ===== HEADER =====

    header {
        padding-bottom: 55px;
        .subheader {
            width: 100%;
            margin-top: 100px;

            .title {
                max-width: 660px;
            }
            h1 {
                font-size: 37px;
            }
            .postInfo {
                .userPhoto {
                    width: 70px;
                    height: 70px;
                }
                .additionalInfo {
                    font-size: 14px;
                }
                .circle {
                    font-size: 14px;
                    margin: 0 3px;
                }
            }
        }
    }

    .specialWrapper {
        max-width: 287px;
        margin: 0 auto;
    }

    // ===== ARTICLE MAIN TEXT =====
    .artcileMainText {
        padding-top: 100px;
        padding-bottom: 110px;
        .line {
            position: relative;
            &::after {
                bottom: -110px;
            }
        }
        .artcileMainText-content {
            .pageLink {
                margin-bottom: 45px;
                p {
                    font-size: 16px;
                }
            }
            .titleText {
                font-size: 20px;
                margin-bottom: 45px;
            }
            .articleText {
                font-size: 17px;
                line-height: 29px;
                margin-bottom: 35px;
                &:last-child {
                    margin-bottom: 70px;
                }
            }

            .articleInfo {
                .dishPhotos {
                    margin-bottom: 45px;
                }
                .authorWords {
                    padding: 75px 0;
                    margin-bottom: 55px;
                    blockquote {
                        font-size: 16px;
                        line-height: 22px;
                        &::after {
                            top: -18px;
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
                .tags {
                    margin: 85px 0;
                    p {
                        font-size: 25px;
                        font-weight: 700;
                    }
                    ul {
                        display: flex;
                        margin-left: 15px;
                        gap: 10px 13px;
                        li {
                            padding: 4px 10px;
                            border: 2px solid black;
                            font-size: 16px;
                            font-family: "Lato", sans-serif;
                        }
                    }
                }
                .userInfo {
                    .userPhoto {
                        width: 140px;
                        height: 140px;
                        margin-right: 25px;
                    }
                    .userName {
                        font-size: 25px;
                        margin-bottom: 12px;
                    }
                    .description {
                        font-family: "Lato", sans-serif;
                        color: #4d4d4d;
                        font-size: 17px;
                    }
                }
            }
        }
    }

    .relatedPosts {
        padding-top: 100px;
        padding-bottom: 150px;
        .relatedPosts-title {
            font-weight: 700;
            font-size: 38px;
            text-align: center;
            margin-bottom: 110px;
        }
        .foodPosts-content {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            gap: 85px 0;
            .dishPost {
                width: 100%;
                .dishPhotoWrapper {
                    &::after {
                        font-size: 17px;
                        width: 110px;
                        height: 32px;
                    }
                }
                .mainPostInfo {
                    width: 100%;
                }

                .postInfo {
                    .additionalInfo {
                        font-size: 14px;
                    }
                }
                .postTitle {
                    font-size: 26px;
                }

                .postText {
                    font-size: 17px;
                }
                .readMore {
                    font-size: 19px;
                }
            }
        }
    }
}
