*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: "Rufina";
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
a {
    color: #fff;
    text-decoration: none;
}
.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

.routes {
    display: flex;
    padding: 150px 200px;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    background-image: url("./img/routesBg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 10;
    transition: 0.7s;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #233000;
        opacity: 0.8;
        z-index: -1;
    }
    .close {
        display: flex;
        align-items: center;
        position: absolute;
        top: 45px;
        left: 70px;
        width: 46px;
        height: 30px;
        cursor: pointer;
        span,
        &::after,
        &::before {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transition: 0.2s;
        }
        &::after,
        &::before {
            content: "";
            position: absolute;
        }
        &::after {
            bottom: 16px;
            transform: rotate(-45deg);
        }

        &::before {
            top: 12px;
            transform: rotate(45deg);
        }
        span {
            opacity: 0;
        }
    }
    .linksWrapper {
        display: flex;
        flex-grow: 1;
    }
    .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        li {
            height: 57px;
            padding-left: 14px;
            transition: 0.5s;
            .linkTitle {
                display: flex;
                align-items: center;

                .circle {
                    display: block;
                    font-size: 26px;
                    margin-right: 10px;
                }
                a,
                p {
                    position: relative;
                    color: white;
                    font-family: "Rufina";
                    font-size: 50px;
                    font-weight: 700;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
            .activeLink {
                a,
                p,
                .circle {
                    color: #9caa00;
                }
            }
            .subLinks {
                margin: 10px 0 20px 15px;
                li {
                    height: auto;
                    margin-bottom: 10px;
                    .linkTitle {
                        a {
                            font-size: 19px;
                        }
                        .circle {
                            font-size: 14px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        .containSubList {
            overflow-y: hidden;
        }
        .containSubList > .linkTitle {
            p {
                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -40px;
                    width: 25px;
                    height: 2px;
                    background-color: #fff;
                    transition: 0.3s;
                }
                &::before {
                    transform: translateY(-50%) rotate(40deg);
                    right: -58px;
                }
                &::after {
                    transform: translateY(-50%) rotate(-40deg);
                }
            }
        }
        .containSubList > .activeLink {
            p::after,
            p::before {
                background-color: #9caa00;
            }
        }
        .activeSubList > .linkTitle {
            p {
                &::before {
                    transform: translateY(-50%) rotate(140deg);
                }
                &::after {
                    transform: translateY(-50%) rotate(-140deg);
                }
            }
        }
    }
    .menuContacts {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &-title {
            font-weight: 700;
            font-size: 24px;
            position: relative;
            padding-bottom: 5px;
            margin-bottom: 25px;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 100%;
                border: 2px dashed white;
            }
        }
        p {
            font-family: "Lato", sans-serif;
        }
        &-adress {
            max-width: 200px;
            line-height: 24px;
            margin: 25px 0;
        }

        &-socialMedia {
            display: flex;
            gap: 0 20px;
            li {
                width: 30px;
                height: 30px;
                a {
                    display: block;
                }
                img {
                    width: 100%;
                    height: 100%;
                    filter: invert(100);
                }
            }
        }
    }
}
@media (max-height: 650px) {
    .routes {
        padding: 150px 0 100px 160px;
    }
}
@media (max-height: 565px) {
    .routes {
        padding: 110px 0 40px 160px;
        .close {
            left: 35px;
        }
    }
}
@media (max-width: 1200px) {
    .wrapper {
        max-width: 1015px;
    }
    // ===== MAKING RESERVATION =====

    .makingReservation {
        padding: 130px 0;
        .reservation {
            .reservationForms {
                .fieldWrapper {
                    width: calc((100% / 3) - 25px);
                }
                .selectDate,
                .selectTime,
                .persoNumber {
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .wrapper {
        max-width: 675px;
    }
    // ===== MAKING RESERVATION =====

    .makingReservation {
        padding: 120px 0;
        .reservationTitle {
            margin-bottom: 75px;
            h2 {
                font-size: 52px;
            }
        }
        .reservation {
            .reservationForms {
                flex-direction: column;
                gap: 35px 0;
                flex-wrap: wrap;
                .fieldWrapper,
                .field {
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .wrapper {
        max-width: 425px;
    }

    // ===== MAKING RESERVATION =====

    .makingReservation {
        padding: 100px 0;
        .reservationTitle {
            margin-bottom: 75px;
            h2 {
                font-size: 47px;
                margin-bottom: 15px;
            }
            p {
                font-size: 18px;
            }
        }
        .reservation {
            .reservationForms {
                margin-bottom: 65px;
            }
        }
    }
}
@media (max-width: 442px) {
    .wrapper {
        max-width: 375px;
    }

    // ===== MAKING RESERVATION =====

    .makingReservation {
        padding: 85px 0;
        .reservationTitle {
            margin-bottom: 65px;
            h2 {
                font-size: 44px;
            }
            p {
                font-size: 17px;
            }
        }
        .reservation {
            .reservationForms {
                margin-bottom: 65px;
                .field {
                    height: 60px;
                }
            }
            .booking {
                width: 195px;
                height: 55px;
            }
        }
    }
}

@media (max-width: 320px) {
    .wrapper {
        max-width: 287px;
    }
}
