@mixin setBackgroundImage($imgSrc, $sizeProp: contain) {
    background-image: url(#{$imgSrc});
    background-size: #{$sizeProp};
    background-repeat: no-repeat;
    background-position: center center;
}
