header {
  display: block;
  background-image: url(../img/getInTouchBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding-bottom: 130px;
}
header .headerContent {
  margin-bottom: 150px;
}
header .subheader .title {
  margin-bottom: 55px;
}
header .subheader .title h1 {
  font-size: 110px;
  font-weight: 700;
  margin-bottom: 25px;
}
header .subheader .title p {
  font-size: 22px;
  font-weight: 700;
}
header .subheader .workTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header .subheader .workTime .workTime-wrapper {
  width: 550px;
}
header .subheader .workTime .workTime-wrapper .openTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
header .subheader .workTime .workTime-wrapper .openTime h3 {
  font-weight: 700;
  font-size: 22px;
}
header .subheader .workTime .workTime-wrapper .openTime p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 17px;
}
header .subheader .workTime .workTime-wrapper .line {
  border: 2px dashed white;
  margin-bottom: 30px;
}
header .subheader .workTime .workTime-wrapper .schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .subheader .workTime .workTime-wrapper .schedule p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
header .subheader .workTime .workTime-wrapper .schedule p:first-child {
  margin-bottom: 5px;
}

.ourContacts {
  position: relative;
  padding-top: 220px;
  padding-bottom: 100px;
}
.ourContacts::before {
  content: "";
  position: absolute;
  top: 110px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 330px;
  height: 330px;
  background-image: url(../../common/icons/orange.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}
.ourContacts .remoteContacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 80px;
}
.ourContacts .remoteContacts img {
  width: 45%;
  margin-right: 175px;
}
.ourContacts .remoteContacts .mainText {
  display: inline-block;
  max-width: 350px;
  margin-bottom: 55px;
}
.ourContacts .remoteContacts p {
  font-weight: 700;
  font-size: 24px;
}
.ourContacts .remoteContacts p .specialText {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  overflow: hidden;
  position: relative;
  color: #9caa00;
}
.ourContacts .remoteContacts p .specialText .marker {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9caa00;
}
.ourContacts .ourLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ourContacts .ourLocation img {
  width: 54%;
  margin-left: 80px;
}
.ourContacts .ourLocation p {
  color: #233000;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 50px;
}
.ourContacts .ourLocation a {
  color: black;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 35px;
  border: 3px solid black;
}

.makingReservation {
  padding: 150px 0;
  background-color: #ebf0e4;
  overflow-x: hidden;
}
.makingReservation .reservationTitle {
  position: relative;
  margin-bottom: 100px;
}
.makingReservation .reservationTitle::before {
  content: "";
  display: block;
  width: 45%;
  height: 226%;
  position: absolute;
  top: -118px;
  left: -25px;
  background-image: url(../img/mint.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.makingReservation .reservationTitle h2 {
  text-align: center;
  font-size: 75px;
  margin-bottom: 5px;
}
.makingReservation .reservationTitle p {
  text-align: center;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: #4d4d4d;
}
.makingReservation .reservation input,
.makingReservation .reservation select {
  width: 100%;
  height: 75px;
  padding: 0 20px;
  border: 2px solid black;
  outline: none;
  background-color: transparent;
  font-family: "Lato", sans-serif;
}
.makingReservation .reservation .doubleFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
.makingReservation .reservation .doubleFields input,
.makingReservation .reservation .doubleFields select {
  width: calc(50% - 15px);
}
.makingReservation .reservation input::-webkit-input-placeholder {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  color: black;
}
.makingReservation .reservation input::-moz-placeholder {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  color: black;
}
.makingReservation .reservation input:-ms-input-placeholder {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  color: black;
}
.makingReservation .reservation input::-ms-input-placeholder {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  color: black;
}
.makingReservation .reservation input::placeholder {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  color: black;
}
.makingReservation .reservation .doubleFields,
.makingReservation .reservation .fullPageInput {
  margin-bottom: 45px;
}
.makingReservation .reservation .lastInp {
  margin-bottom: 80px;
}
.makingReservation .reservation .booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 60px;
  color: white;
  font-size: 20px;
  background-color: #233000;
  border: none;
  margin: 0 auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  header .headerContent {
    margin-bottom: 150px;
  }
  header .subheader .title {
    margin-bottom: 115px;
  }
  header .subheader .title h1 {
    font-size: 90px;
    text-align: center;
    margin-bottom: 15px;
  }
  header .subheader .title p {
    font-size: 21px;
    text-align: center;
  }
  header .subheader .workTime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-x: hidden;
  }
  header .subheader .workTime .workTime-wrapper {
    width: 550px;
  }
  header .subheader .workTime .workTime-wrapper .openTime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  header .subheader .workTime .workTime-wrapper .openTime h3 {
    font-weight: 700;
    font-size: 22px;
  }
  header .subheader .workTime .workTime-wrapper .openTime p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 17px;
  }
  header .subheader .workTime .workTime-wrapper .line {
    border: 2px dashed white;
    margin-bottom: 30px;
  }
  header .subheader .workTime .workTime-wrapper .schedule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .subheader .workTime .workTime-wrapper .schedule p {
    font-family: "Lato", sans-serif;
    font-size: 18px;
  }
  header .subheader .workTime .workTime-wrapper .schedule p:first-child {
    margin-bottom: 5px;
  }
  .ourContacts {
    padding-top: 220px;
    padding-bottom: 100px;
  }
  .ourContacts::before {
    top: 60px;
    width: 280px;
    height: 280px;
  }
  .ourContacts .remoteContacts img {
    width: 50%;
    margin-right: 78px;
  }
  .ourContacts .remoteContacts p {
    font-size: 22px;
    margin-bottom: 55px;
  }
  .ourContacts .ourLocation p {
    color: #233000;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 50px;
  }
  .ourContacts .ourLocation a {
    font-size: 22px;
    padding: 15px 30px;
  }
  .ourContacts .ourLocation img {
    width: 50%;
    margin-left: 55px;
  }
}
@media (max-width: 571px) {
  .ourContacts {
    padding-top: 220px;
    padding-bottom: 100px;
  }
  .ourContacts::before {
    top: 60px;
    width: 280px;
    height: 280px;
  }
  .ourContacts .remoteContacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .ourContacts .remoteContacts img {
    width: 95%;
    height: 325px;
    margin-right: 0;
  }
  .ourContacts .remoteContacts p {
    max-width: 435px;
    font-size: 28px;
    margin-bottom: 55px;
  }
  .ourContacts .ourLocation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .ourContacts .ourLocation p {
    max-width: 450px;
    font-size: 28px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .ourContacts .ourLocation a {
    font-size: 22px;
    padding: 15px 30px;
    margin-bottom: 65px;
  }
  .ourContacts .ourLocation img {
    width: 85%;
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  header .headerContent {
    margin-bottom: 110px;
  }
  header .subheader .title h1 {
    font-size: 83px;
    margin-bottom: 15px;
  }
  header .subheader .title p {
    font-size: 20px;
  }
  .ourContacts {
    padding-top: 175px;
    padding-bottom: 100px;
  }
  .ourContacts::before {
    top: 15px;
    width: 225px;
    height: 225px;
  }
  .makingReservation {
    padding: 115px 0;
  }
  .makingReservation .reservationTitle {
    margin-bottom: 85px;
  }
  .makingReservation .reservationTitle h2 {
    font-size: 66px;
  }
  .makingReservation .reservationTitle p {
    font-size: 19px;
  }
  .makingReservation .reservation input,
  .makingReservation .reservation select {
    height: 70px;
  }
  .makingReservation .reservation .fullName,
  .makingReservation .reservation .dates {
    display: block;
    margin-bottom: 0;
  }
  .makingReservation .reservation .fullName input,
  .makingReservation .reservation .fullName select,
  .makingReservation .reservation .dates input,
  .makingReservation .reservation .dates select {
    width: 100%;
    margin-bottom: 30px;
  }
  .makingReservation .reservation .fullPageInput {
    margin-bottom: 30px;
  }
  .makingReservation .reservation .lastInp {
    margin-bottom: 65px;
  }
  .makingReservation .reservation .booking {
    width: 230px;
    height: 65px;
    font-size: 22px;
  }
}
@media (max-width: 375px) {
  .makingReservation {
    padding: 105px 0;
  }
  .makingReservation .reservationTitle {
    margin-bottom: 85px;
  }
  .makingReservation .reservationTitle h2 {
    font-size: 55px;
  }
  .makingReservation .reservationTitle p {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  header .headerContent {
    margin-bottom: 110px;
  }
  header .subheader .title h1 {
    font-size: 72px;
    margin-bottom: 20px;
  }
  header .subheader .title p {
    font-size: 18px;
  }
  header .subheader .workTime .workTime-wrapper .openTime h3 {
    font-size: 20px;
  }
  header .subheader .workTime .workTime-wrapper .openTime p {
    font-size: 15px;
  }
  header .subheader .workTime .workTime-wrapper .line {
    margin-bottom: 30px;
  }
  header .subheader .workTime .workTime-wrapper .schedule p {
    font-size: 14px;
  }
  header .subheader .workTime .workTime-wrapper .schedule p:first-child {
    margin-bottom: 5px;
  }
  .ourContacts {
    padding-top: 175px;
    padding-bottom: 100px;
  }
  .ourContacts::before {
    top: 15px;
    width: 165px;
    height: 165px;
  }
  .ourContacts .remoteContacts img {
    width: 100%;
    height: 265px;
  }
  .ourContacts .remoteContacts p {
    font-size: 22px;
  }
  .ourContacts .ourLocation p {
    font-size: 22px;
  }
  .ourContacts .ourLocation a {
    font-size: 20px;
    padding: 10px 22px;
    margin-bottom: 55px;
  }
  .ourContacts .ourLocation img {
    width: 95%;
  }
  .makingReservation .reservationTitle {
    margin-bottom: 65px;
  }
  .makingReservation .reservationTitle h2 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  .makingReservation .reservationTitle p {
    font-size: 18px;
  }
  .makingReservation .reservation input,
  .makingReservation .reservation select {
    height: 60px;
  }
  .makingReservation .reservation .fullName,
  .makingReservation .reservation .dates {
    display: block;
    margin-bottom: 0;
  }
  .makingReservation .reservation .fullName input,
  .makingReservation .reservation .fullName select,
  .makingReservation .reservation .dates input,
  .makingReservation .reservation .dates select {
    width: 100%;
    margin-bottom: 30px;
  }
  .makingReservation .reservation .fullPageInput {
    margin-bottom: 30px;
  }
  .makingReservation .reservation .lastInp {
    margin-bottom: 65px;
  }
  .makingReservation .reservation .booking {
    width: 210px;
    height: 60px;
    font-size: 21px;
  }
}