@use "../../common/mixins.scss" as *;

header {
    display: block;
    @include setBackgroundImage("../img/getInTouchBg.png", "cover");
    margin: 0;
    padding-bottom: 130px;
    .headerContent {
        margin-bottom: 150px;
    }
    .subheader {
        .title {
            margin-bottom: 55px;
            h1 {
                font-size: 110px;

                font-weight: 700;
                margin-bottom: 25px;
            }
            p {
                font-size: 22px;
                font-weight: 700;
            }
        }
        .workTime {
            display: flex;
            justify-content: flex-end;
            .workTime-wrapper {
                width: 550px;
                .openTime {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 30px;
                    h3 {
                        font-weight: 700;
                        font-size: 22px;
                    }
                    p {
                        font-family: "Lato", sans-serif;
                        font-weight: 300;
                        font-size: 17px;
                    }
                }
                .line {
                    border: 2px dashed white;
                    margin-bottom: 30px;
                }
                .schedule {
                    display: flex;
                    justify-content: space-between;
                    p {
                        font-family: "Lato", sans-serif;
                        font-size: 18px;
                        &:first-child {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}

// ===== OUR CONTACTS =====

.ourContacts {
    position: relative;
    padding-top: 220px;
    padding-bottom: 100px;
    &::before {
        content: "";
        position: absolute;
        top: 110px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 330px;
        height: 330px;
        @include setBackgroundImage("../../common/icons/orange.png");
        z-index: -1;
    }
    .remoteContacts {
        display: flex;
        align-items: flex-end;
        margin-bottom: 80px;
        img {
            width: 45%;
            margin-right: 175px;
        }
        .mainText {
            display: inline-block;
            max-width: 350px;
            margin-bottom: 55px;
        }
        p {
            font-weight: 700;
            font-size: 24px;
            .specialText {
                display: inline-flex;
                align-items: baseline;
                overflow: hidden;
                position: relative;
                color: #9caa00;
                .marker {
                    display: block;
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #9caa00;
                }
            }
        }
    }
    .ourLocation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img {
            width: 54%;
            margin-left: 80px;
        }
        p {
            color: #233000;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 50px;
        }
        a {
            color: black;
            display: inline-block;
            font-size: 24px;
            font-weight: 700;
            padding: 20px 35px;
            border: 3px solid black;
        }
    }
}

// ===== MAKING RESERVATION =====

.makingReservation {
    padding: 150px 0;
    background-color: #ebf0e4;
    overflow-x: hidden;
    .reservationTitle {
        position: relative;
        margin-bottom: 100px;
        &::before {
            content: "";
            display: block;
            width: 45%;
            height: 226%;
            position: absolute;
            top: -118px;
            left: -25px;
            @include setBackgroundImage("../img/mint.png");
        }
        h2 {
            text-align: center;
            font-size: 75px;
            margin-bottom: 5px;
        }
        p {
            text-align: center;
            font-size: 20px;
            font-family: "Lato", sans-serif;
            color: #4d4d4d;
        }
    }

    .reservation {
        input,
        select {
            width: 100%;
            height: 75px;
            padding: 0 20px;
            border: 2px solid black;
            outline: none;
            background-color: transparent;
            font-family: "Lato", sans-serif;
        }
        .doubleFields {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;
            input,
            select {
                width: calc((100% / 2) - 15px);
            }
        }

        input::placeholder {
            font-size: 17px;
            font-family: "Lato", sans-serif;
            color: black;
        }
        .doubleFields,
        .fullPageInput {
            margin-bottom: 45px;
        }
        .lastInp {
            margin-bottom: 80px;
        }
        .booking {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 220px;
            height: 60px;
            color: white;
            font-size: 20px;
            background-color: #233000;
            border: none;
            margin: 0 auto;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    header {
        .headerContent {
            margin-bottom: 150px;
        }
        .subheader {
            .title {
                margin-bottom: 115px;
                h1 {
                    font-size: 90px;
                    text-align: center;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 21px;
                    text-align: center;
                }
            }
            .workTime {
                display: flex;
                justify-content: center;
                overflow-x: hidden;
                .workTime-wrapper {
                    width: 550px;
                    .openTime {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 30px;
                        h3 {
                            font-weight: 700;
                            font-size: 22px;
                        }
                        p {
                            font-family: "Lato", sans-serif;
                            font-weight: 300;
                            font-size: 17px;
                        }
                    }
                    .line {
                        border: 2px dashed white;
                        margin-bottom: 30px;
                    }
                    .schedule {
                        display: flex;
                        justify-content: space-between;
                        p {
                            font-family: "Lato", sans-serif;
                            font-size: 18px;
                            &:first-child {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    .ourContacts {
        padding-top: 220px;
        padding-bottom: 100px;
        &::before {
            top: 60px;
            width: 280px;
            height: 280px;
        }
        .remoteContacts {
            img {
                width: 50%;
                margin-right: 78px;
            }
            p {
                font-size: 22px;
                margin-bottom: 55px;
            }
        }
        .ourLocation {
            p {
                color: #233000;
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 50px;
            }
            a {
                font-size: 22px;
                padding: 15px 30px;
            }
            img {
                width: 50%;
                margin-left: 55px;
            }
        }
    }
}
@media (max-width: 571px) {
    .ourContacts {
        padding-top: 220px;
        padding-bottom: 100px;
        &::before {
            top: 60px;
            width: 280px;
            height: 280px;
        }
        .remoteContacts {
            align-items: center;
            flex-direction: column-reverse;
            text-align: center;
            img {
                width: 95%;
                height: 325px;
                margin-right: 0;
            }
            p {
                max-width: 435px;
                font-size: 28px;
                margin-bottom: 55px;
            }
        }
        .ourLocation {
            flex-direction: column;
            text-align: center;
            p {
                max-width: 450px;
                font-size: 28px;
                margin: 0 auto;
                margin-bottom: 35px;
            }
            a {
                font-size: 22px;
                padding: 15px 30px;
                margin-bottom: 65px;
            }
            img {
                width: 85%;
                margin-left: 0;
            }
        }
    }
}
@media (max-width: 480px) {
    header {
        .headerContent {
            margin-bottom: 110px;
        }
        .subheader {
            .title {
                h1 {
                    font-size: 83px;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }

    .ourContacts {
        padding-top: 175px;
        padding-bottom: 100px;
        &::before {
            top: 15px;
            width: 225px;
            height: 225px;
        }
    }

    .makingReservation {
        padding: 115px 0;
        .reservationTitle {
            margin-bottom: 85px;
            h2 {
                font-size: 66px;
            }
            p {
                font-size: 19px;
            }
        }
        .reservation {
            input,
            select {
                height: 70px;
            }
            .fullName,
            .dates {
                display: block;
                margin-bottom: 0;
                input,
                select {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
            .fullPageInput {
                margin-bottom: 30px;
            }
            .lastInp {
                margin-bottom: 65px;
            }
            .booking {
                width: 230px;
                height: 65px;
                font-size: 22px;
            }
        }
    }
}
@media (max-width: 442px) {
}
@media (max-width: 375px) {
    .makingReservation {
        padding: 105px 0;
        .reservationTitle {
            margin-bottom: 85px;
            h2 {
                font-size: 55px;
            }
            p {
                font-size: 18px;
            }
        }
    }
}
@media (max-width: 320px) {
    header {
        .headerContent {
            margin-bottom: 110px;
        }
        .subheader {
            .title {
                h1 {
                    font-size: 72px;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 18px;
                }
            }
            .workTime {
                .workTime-wrapper {
                    .openTime {
                        h3 {
                            font-size: 20px;
                        }
                        p {
                            font-size: 15px;
                        }
                    }
                    .line {
                        margin-bottom: 30px;
                    }
                    .schedule {
                        p {
                            font-size: 14px;
                            &:first-child {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    .ourContacts {
        padding-top: 175px;
        padding-bottom: 100px;
        &::before {
            top: 15px;
            width: 165px;
            height: 165px;
        }
        .remoteContacts {
            img {
                width: 100%;
                height: 265px;
            }
            p {
                font-size: 22px;
            }
        }
        .ourLocation {
            p {
                font-size: 22px;
            }
            a {
                font-size: 20px;
                padding: 10px 22px;
                margin-bottom: 55px;
            }
            img {
                width: 95%;
            }
        }
    }
    .makingReservation {
        .reservationTitle {
            margin-bottom: 65px;
            h2 {
                font-size: 48px;
                margin-bottom: 10px;
            }
            p {
                font-size: 18px;
            }
        }
        .reservation {
            input,
            select {
                height: 60px;
            }
            .fullName,
            .dates {
                display: block;
                margin-bottom: 0;
                input,
                select {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
            .fullPageInput {
                margin-bottom: 30px;
            }
            .lastInp {
                margin-bottom: 65px;
            }
            .booking {
                width: 210px;
                height: 60px;
                font-size: 21px;
            }
        }
    }
}
