@use "../../common/mixins.scss" as *;

header {
    display: block;
    @include setBackgroundImage("../img/menuHeaderBg.png", "cover");
    margin: 0;
    padding-bottom: 230px;
    .headerContent {
        margin-bottom: 150px;
    }
    .subheader {
        h1 {
            font-size: 95px;
            max-width: 500px;
            font-weight: 700;
            margin-bottom: 25px;
        }
        p {
            font-size: 20px;
        }
    }
}

// ===== MEALS =====
.meals {
    padding-top: 85px;
    padding-bottom: 250px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 500px;
        height: 290px;
        @include setBackgroundImage("../../common/icons/blueberry.png");
    }
}
.meal {
    margin-bottom: 225px;
    &:last-child {
        margin-bottom: 0;
    }

    .mealTitle,
    .mealDescription {
        text-align: center;
    }
    .mealTitle {
        font-size: 80px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .mealTitleWrapper {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 265px;
            height: 265px;
            @include setBackgroundImage("../../common/icons/avocado.png");
        }
    }
    .mealDescription {
        font-size: 18px;
        font-family: "Lato", sans-serif;
        color: #4d4d4d;
        margin-bottom: 95px;
    }
    .food {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .foodPhoto {
            width: 40%;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .foodList {
            width: 41%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .item {
                width: 100%;
                .price {
                    display: flex;
                    justify-content: flex-end;
                    font-size: 28px;
                    font-weight: 700;
                    margin-bottom: 7px;
                }
                .line {
                    width: 100%;
                    border: 2px dashed black;
                    margin-bottom: 24px;
                }
                .item-name {
                    font-size: 48px;
                    margin-bottom: 20px;
                }
                .item-description {
                    font-size: 18px;
                    font-family: "Lato", sans-serif;
                    color: #4d4d4d;
                }
            }
        }
    }
    .reversedFood {
        flex-direction: row-reverse;
    }
}

// ===== MAKING RESERVATION =====

.makingReservation {
    padding: 150px 0;
    background-color: #ebf0e4;
    .reservationTitle {
        margin-bottom: 100px;
        h2 {
            text-align: center;
            font-size: 75px;
            margin-bottom: 5px;
        }
        p {
            text-align: center;
            font-size: 20px;
            font-family: "Lato", sans-serif;
            color: #4d4d4d;
        }
    }
    .reservation {
        .reservationForms {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;
            .fieldWrapper {
                position: relative;
                width: calc((100% / 3) - 40px);
                height: 75px;
                .fieldBorder {
                    display: block;
                    position: absolute;
                    z-index: 10;
                    &.top,
                    &.bottom {
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: black;
                    }
                    &.top {
                        top: 0;
                        transform-origin: left;
                    }
                    &.bottom {
                        bottom: 0;
                        transform-origin: right;
                    }
                    &.left,
                    &.right {
                        top: 0;
                        width: 2px;
                        height: 100%;
                        background-color: black;
                    }
                    &.left {
                        left: 0;
                        transform-origin: bottom;
                    }
                    &.right {
                        right: 0;
                        transform-origin: top;
                    }
                }
            }
            .selectDate,
            .selectTime,
            .persoNumber {
                width: 100%;
                height: 100%;
                padding: 0 20px;
                border: none;
                outline: none;
                background-color: transparent;
                font-family: "Lato", sans-serif;
            }
        }
        .booking {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 220px;
            height: 60px;
            color: white;
            font-size: 20px;
            background-color: #233000;
            border: none;
            margin: 0 auto;
            cursor: pointer;
        }
    }
}

// ===== ADAPTIVE =====

@media (max-width: 768px) {
    // ===== HEADER =====

    header {
        padding-bottom: 195px;
        .headerContent {
            margin-bottom: 150px;
        }
        .subheader {
            h1 {
                font-size: 93px;
                max-width: 100%;
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }

    // ===== MEAL =====
    .meals {
        padding-bottom: 150px;
        &::after {
            width: 240px;
            height: 186px;
        }
    }
    .meal {
        margin-bottom: 175px;
        .mealTitle {
            font-size: 75px;
        }
        .bgImg {
            &::before {
                width: 235px;
                height: 235px;
            }
        }
        .mealDescription {
            font-size: 18px;
            font-family: "Lato", sans-serif;
            color: #4d4d4d;
            margin-bottom: 95px;
        }
        .food {
            .foodList {
                .item {
                    margin-bottom: 20px;
                    .price {
                        font-size: 25px;
                    }
                    .item-name {
                        font-size: 35px;
                        margin-bottom: 10px;
                    }
                    .item-description {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: 480px) {
    header {
        padding-bottom: 150px;
        .headerContent {
            margin-bottom: 120px;
        }
        .subheader {
            h1 {
                font-size: 75px;
            }
            p {
                font-size: 18px;
            }
        }
    }
    // ===== MEAL =====

    .meals {
        padding-bottom: 150px;
        &::after {
            width: 240px;
            height: 186px;
        }
    }
    .meal {
        margin-bottom: 175px;
        .mealTitle {
            font-size: 65px;
        }
        .bgImg {
            &::before {
                width: 235px;
                height: 235px;
            }
        }
        .mealDescription {
            font-size: 18px;
            font-family: "Lato", sans-serif;
            color: #4d4d4d;
            margin-bottom: 95px;
        }
        .food {
            flex-direction: column-reverse;

            .foodPhotoWrapper {
                max-width: unset;
                width: 100%;
                height: 300px;
            }
            .foodList {
                width: 80%;
                margin-bottom: 60px;
                .item {
                    margin-bottom: 55px;
                    .price {
                        font-size: 25px;
                    }
                    .item-name {
                        font-size: 35px;
                        margin-bottom: 10px;
                    }
                    .item-description {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: 442px) {
}

@media (max-width: 320px) {
}
