@use "../../common/mixins.scss" as *;

// ===== HEADER =====

header {
    display: block;
    @include setBackgroundImage("../img/blogsHeaderBg.png");
    margin: 0;
    padding-bottom: 245px;
    .subheader {
        display: flex;
        justify-content: center;
        margin-top: 185px;

        h1 {
            font-size: 85px;
            font-weight: 700;
            margin-bottom: 25px;
            text-align: center;
        }
        p {
            font-family: "Lato", sans-serif;

            font-size: 21px;
            line-height: 40px;
            text-align: center;
        }
    }
}

// ===== FOOD POSTS =====

.foodPosts {
    padding: 75px 0 95px 0;
}

.foodPosts-content {
    display: grid;
    gap: 65px 0;
    .dishPost {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dishPhotoWrapper {
            max-width: 600px;
            margin-bottom: 40px;
            position: relative;
            p {
                content: "Fashion";
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 20px;
                font-weight: 700;
                width: 160px;
                height: 45px;
                background-color: #5e6600;
                position: absolute;
                top: 12px;
                right: 12px;
            }
            .dishPhoto {
                width: 100%;
            }
        }
        .mainPostInfo {
            width: 41%;
            margin: 0 auto;
        }
        .postInfo {
            display: flex;
            align-items: center;
            margin-bottom: 35px;
            .userPhoto {
                width: 75px;
                height: 75px;
                border-radius: 100%;
                margin-right: 5px;
            }
            .additionalInfo {
                font-family: "Lato", sans-serif;
                font-size: 17px;
                color: #5e6600;
            }
            .circle {
                font-size: 14px;
            }
        }
        .postTitle {
            font-size: 41px;
            margin-bottom: 12px;
        }
        .line {
            width: 100%;
            border: 2px dashed black;
            margin-bottom: 24px;
        }
        .postText {
            font-size: 18px;
            font-family: "Lato", sans-serif;
            font-weight: 700;
            color: #4d4d4d;
            margin-bottom: 35px;
        }
        .readMore {
            display: inline-block;
            position: relative;
            color: black;
            font-family: "Lato", sans-serif;
            font-size: 20px;

            &::after {
                content: "";
                position: absolute;
                top: 2px;
                transform: rotate(180deg);
                right: -45px;
                display: block;
                width: 46px;
                height: 26px;
                @include setBackgroundImage("../../common/icons/arrow.svg");
                transition: 0.3s;
            }
            &:hover::after {
                right: -52px;
            }
        }
    }
}

.postsPages {
    ul {
        display: flex;
        justify-content: center;
        margin-top: 125px;
        li {
            border: 2px solid black;
            padding: 10px 15px;
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: black;
                font-family: "Lato", sans-serif;
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1200px) {
    // ===== FOOD POSTS =====

    .foodPosts {
        padding: 75px 0 150px 0;
    }

    .foodPosts-content {
        .dishPost {
            .dishPhotoWrapper {
                max-width: 500px;
            }
            .mainPostInfo {
                width: 45%;
                margin: 0;
            }
            .postInfo {
                margin-bottom: 35px;
            }
            .postTitle {
                font-size: 35px;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        padding-bottom: 170px;
        .subheader {
            margin-top: 155px;
        }
    }

    .foodPosts {
        padding: 75px 0 115px 0;
    }

    .foodPosts-content {
        gap: 105px 0;
        .dishPost {
            display: block;
            .dishPhotoWrapper {
                position: relative;
                max-width: unset;
                width: 95%;
                margin: 0 auto;
                margin-bottom: 45px;
                &::after {
                    font-size: 19px;
                    width: 165px;
                    height: 50px;
                }
            }
            .mainPostInfo {
                width: 88%;
                margin: 0 auto;
            }
            .postInfo {
                margin-bottom: 35px;
                .userPhoto {
                    width: 75px;
                    height: 75px;
                    margin-right: 10px;
                }
                .additionalInfo {
                    font-size: 18px;
                }
            }
            .postTitle {
                font-size: 38px;
                margin-bottom: 12px;
            }
            .postText {
                font-size: 20px;

                margin-bottom: 35px;
            }
            .readMore {
                display: inline-block;
                position: relative;
                color: black;
                font-family: "Lato", sans-serif;
                font-size: 20px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 2px;
                    transform: rotate(180deg);
                    right: -45px;
                    display: block;
                    width: 46px;
                    height: 26px;
                    @include setBackgroundImage("../../common/icons/arrow.svg");
                    transition: 0.3s;
                }
                &:hover::after {
                    right: -52px;
                }
            }
        }
    }
}
@media (max-width: 480px) {
    header {
        padding-bottom: 170px;
        .subheader {
            margin-top: 125px;

            h1 {
                font-size: 65px;
                margin-bottom: 10px;
            }
            p {
                font-size: 19px;
                line-height: 33px;
            }
        }
    }

    // ===== FOOD POSTS =====

    .foodPosts {
        padding: 55px 0 100px 0;
    }

    .foodPosts-content {
        grid-template-columns: 1fr;
        .dishPost {
            .dishPhotoWrapper {
                width: 100%;
                &::after {
                    font-size: 19px;
                    width: 130px;
                    height: 40px;
                }
            }
            .postInfo {
                align-items: center;
                margin-bottom: 25px;
                .userPhoto {
                    width: 68px;
                    height: 68px;
                    margin-right: 10px;
                }
                .additionalInfo {
                    font-size: 15px;
                }
            }
            .postTitle {
                font-size: 27px;
            }

            .postText {
                font-size: 18px;
                margin-bottom: 35px;
            }
            .readMore {
                font-size: 21px;
            }
        }
    }
}
@media (max-width: 442px) {
    // ===== FOOD POSTS =====
    .foodPosts-content {
        .dishPost {
            .mainPostInfo {
                width: 100%;
            }

            .postTitle {
                font-size: 28px;
            }
        }
    }
}
@media (max-width: 400px) {
    .postsPages {
        ul {
            li {
                padding: 8px 12px;
                margin-right: 15px;

                a {
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width: 320px) {
    // ===== FOOD POSTS =====

    .foodPosts {
        padding: 55px 0 100px 0;
    }

    .foodPosts-content {
        .dishPost {
            .dishPhotoWrapper {
                &::after {
                    font-size: 17px;
                    width: 110px;
                    height: 32px;
                }
            }
            .mainPostInfo {
                width: 100%;
            }

            .postInfo {
                .additionalInfo {
                    font-size: 14px;
                }
            }
            .postTitle {
                font-size: 26px;
            }

            .postText {
                font-size: 17px;
            }
            .readMore {
                font-size: 19px;
            }
        }
    }
}
